<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<!--<app-nuevo-nav></app-nuevo-nav>-->
			<app-navigation></app-navigation>
		</div>
		<div class="col-sm-9 content-form">
			<section>
				<app-habito-nav></app-habito-nav>
				
						<div class="row">
							<table class="table table-bordered habitos">
								<thead>
									<tr>
										<th>Ejercicio</th>
										<th>Horas por Semana</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="remove-item"><i class="remove-"></i>Nadar</td>
										<td>5 Horas</td>
									</tr>
								</tbody>
							</table>
						</div>	

						  <hr />

						  <div class="row">
							<div class="form-group col-md-6">
							  <label for="ejercicio" class="col-form-label">Que ejercicio realiza?</label>
							  <select class="form-control" id="ejercicio" name="ejercicio">
								<option  *ngFor="let ejercicio of ejercicios | async" (click)="onSelect(ejercicio)"
										[value]="ejercicio.id"
										>{{ejercicio.nombre}}</option>
							  </select>
							</div>
							<div class="form-group col-md-6">
							  <label for="tiempo_semana" class="col-form-label">Tiempo por semana</label>
							  <input type="text" class="form-control" id="tiempo_semana" name="tiempo_semana" placeholder="En Horas">
							</div>
						  </div>
							<a href="#" class="add-item"><i></i>Añadir Ejercicio</a>
					
			</section>
		</div>
	</div>
</div>