<app-topnav></app-topnav>
<router-outlet name="historialPopup"></router-outlet>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<app-control-nav></app-control-nav>
		</div>
		<div class="col-sm-9 content-form form-fix-icon">
			<section class="form-patron-menu">
				<app-dieta-nav></app-dieta-nav>
				
				<div class="clearfix">
					<div class="col-sm-6">
						<div class="form-group with-icon dieta_desayuno">
							<label for="dieta_desayuno">Desayuno</label>
							<input type="text" 
								id="dieta_desayuno"
								name="dieta_desayuno"
								class="form-control" 
								readonly="readonly" 
								value="{{summary_desayuno}}"								
							>
							<i></i>
							<a class="link-modal" (click)="showModalPorciones(1, 'desayuno')"><i></i></a>
						</div>
						<div class="form-group dieta_desayuno_ejemplo">
							<textarea 
							id="dieta_desayuno_ejemplo"
							name="dieta_desayuno_ejemplo"
							class="form-control" 
							placeholder="Ejemplo"
							[(ngModel)]="model.dieta_desayuno_ejemplo"
						></textarea>
							
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon dieta_media_manana">
							<label for="dieta_media_manana">Media Mañana</label>
							<input type="text" 
								id="dieta_media_manana"
								name="dieta_media_manana"
								class="form-control" 
								readonly="readonly" 
								value="{{summary_media_manana}}"
							>
							<i></i>
							<a class="link-modal" (click)="showModalPorciones(2, 'media_manana')"><i></i></a>
						</div>
						<div class="form-group">
							<textarea 
								id="dieta_media_manana_ejemplo"
								name="dieta_media_manana_ejemplo"
								class="form-control"  
								placeholder="Ejemplo"
								[(ngModel)]="model.dieta_media_manana_ejemplo"
							></textarea>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="col-sm-6">
						<div class="form-group with-icon dieta_almuerzo">
							<label for="dieta_almuerzo">Almuerzo</label>
							<input type="text" 
								id="dieta_almuerzo"
								name="dieta_almuerzo"
								class="form-control" 
								readonly="readonly" 
								value="{{summary_almuerzo}}"
							>
							<i></i>
							<a class="link-modal" (click)="showModalPorciones(3,'almuerzo')"><i></i></a>
						</div>
						<div class="form-group">
							<textarea 
								id="dieta_almuerzo_ejemplo"
								name="dieta_almuerzo_ejemplo"
								class="form-control"  
								placeholder="Ejemplo"
								[(ngModel)]="model.dieta_almuerzo_ejemplo"
							></textarea>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon dieta_media_tarde">
							<label for="dieta_media_tarde">Media Tarde</label>
							<input type="text" 
								id="dieta_media_tarde"
								name="dieta_media_tarde"
								class="form-control" 
								readonly="readonly" 
								value="{{summary_media_tarde}}"
							>
							<i></i>
							<a class="link-modal" (click)="showModalPorciones(4,'media_tarde')"><i></i></a>
						</div>
						<div class="form-group">
							<textarea 
								id="dieta_media_tarde_ejemplo"
								name="dieta_media_tarde_ejemplo"
								class="form-control"  
								placeholder="Ejemplo"
								[(ngModel)]="model.dieta_media_tarde_ejemplo"
							></textarea>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="col-sm-6">
						<div class="form-group with-icon dieta_cena">
							<label for="dieta_cena">Cena</label>
							<input type="text" 
								id="dieta_cena"
								name="dieta_cena"
								class="form-control" 
								readonly="readonly" 
								value="{{summary_cena}}"
							>
							<i></i>
							<a class="link-modal" (click)="showModalPorciones(5, 'cena')"><i></i></a>
						</div>
						
						<div class="form-group">
							<textarea 
								id="dieta_cena_ejemplo"
								name="dieta_cena_ejemplo"
								class="form-control"  
								placeholder="Ejemplo"
								[(ngModel)]="model.dieta_cena_ejemplo"
							></textarea>
						</div>
					</div>
					<div class="col-sm-6">
						
						<div class="form-group with-icon dieta_coicion_nocturna">
							<label for="dieta_coicion_nocturna">Coici&oacute;n Nocturna</label>
							<input type="text" 
								id="dieta_coicion_nocturna"
								name="dieta_coicion_nocturna"
								class="form-control" 
								readonly="readonly" 
								value="{{summary_coicion_nocturna}}"
							>
							<i></i>
							<a class="link-modal" (click)="showModalPorciones(6, 'coicion_nocturna')"><i></i></a>
						</div>
						<div class="form-group">
							<textarea 
								id="dieta_coicion_nocturna_ejemplo"
								name="dieta_coicion_nocturna_ejemplo"
								class="form-control"  
								placeholder="Ejemplo"
								[(ngModel)]="model.dieta_coicion_nocturna_ejemplo"
							></textarea>
						</div>
					</div>
				</div>

				<div class="esc-modal tabs" *ngIf="showmodalgraficos">
						<div class="overlay" (click)="fxshowmodalgraficos()"></div>
						<div class="body">
							<a class="modal-close" (click)="fxshowmodalgraficos()">X</a>					
							<ul class="row nav submenu navigation-dieta">
								<li class="col-sm-6">
									<a href="javascript:void(0)" (click)="tabSelected('datos')" class="{{tab_class_datos}}"><i></i>Datos Generales</a>
								</li>
								<li class="col-sm-6">
									<a href="javascript:void(0)" (click)="tabSelected('graficos')" class="{{tab_class_graficos}}"><i></i>Graficoss</a>
								</li>
						</ul>

						<div *ngIf="showTabDatos">
							<table class="table">
								<thead>
									<tr>
										<th>Fecha</th>
										<th>IMC</th>
										<th>Peso</th>
										<th>Estatura</th>
										<th>Grasa</th>
										<th>Grasa Viceral</th>
										<th>Musculo</th>
										<th>Agua</th>
										<th>Hueso</th>
										<th>Edad Metabolica</th>
										<th>Cintura</th>
										<th>Cadera</th>
										<th>Muñeca</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>18/05/2017</th>
										<th>33.1</th>
										<th>90Kg</th>
										<th>1.79m</th>
										<th>22%</th>
										<th>6</th>
										<th>64.2</th>
										<th>%60</th>
										<th>5kg</th>
										<th>45 años</th>
										<th>97cm</th>
										<th>90cm</th>
										<td>18cm</td>
									</tr>
									<tr>
										<th>18/05/2017</th>
										<th>33.1</th>
										<th>90Kg</th>
										<th>1.79m</th>
										<th>22%</th>
										<th>6</th>
										<th>64.2</th>
										<th>%60</th>
										<th>5kg</th>
										<th>45 años</th>
										<th>97cm</th>
										<th>90cm</th>
										<td>18cm</td>
									</tr>
									<tr>
										<th>18/05/2017</th>
										<th>33.1</th>
										<th>90Kg</th>
										<th>1.79m</th>
										<th>22%</th>
										<th>6</th>
										<th>64.2</th>
										<th>%60</th>
										<th>5kg</th>
										<th>45 años</th>
										<th>97cm</th>
										<th>90cm</th>
										<td>18cm</td>
									</tr>
									<tr>
										<th>18/05/2017</th>
										<th>33.1</th>
										<th>90Kg</th>
										<th>1.79m</th>
										<th>22%</th>
										<th>6</th>
										<th>64.2</th>
										<th>%60</th>
										<th>5kg</th>
										<th>45 años</th>
										<th>97cm</th>
										<th>90cm</th>
										<td>18cm</td>
									</tr>
									<tr>
										<th>18/05/2017</th>
										<th>33.1</th>
										<th>90Kg</th>
										<th>1.79m</th>
										<th>22%</th>
										<th>6</th>
										<th>64.2</th>
										<th>%60</th>
										<th>5kg</th>
										<th>45 años</th>
										<th>97cm</th>
										<th>90cm</th>
										<td>18cm</td>
									</tr>
									<tr>
										<th>18/05/2017</th>
										<th>33.1</th>
										<th>90Kg</th>
										<th>1.79m</th>
										<th>22%</th>
										<th>6</th>
										<th>64.2</th>
										<th>%60</th>
										<th>5kg</th>
										<th>45 años</th>
										<th>97cm</th>
										<th>90cm</th>
										<td>18cm</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div *ngIf="showTabGrafico">
							Graficos AQUI
						</div>
					</div>
				  </div>
				


			</section>
			<button (click)="save()" class="btn btn-primary">Guardar</button>
		<section class="patron-menu">
				<header>
					<h3 class="title">Asignaciones</h3>
				</header>
				
			<div class="alimentos row">
			  <div class="col-sm-2">
				<figure>
				  <i class="leche-descremada"></i>
				  <label>Leche Descremada</label>
				  <strong>0/0</strong>
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="leche-2"></i>
				  <label>Leche 2%</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="leche-entera"></i>
				  <label>Leche Entera</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="vegetales"></i>
				  <label>vegetales</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="frutas"></i>
				  <label>frutas</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="harinas"></i>
				  <label>harinas</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="carne-magra"></i>
				  <label>carne-magra</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="carne-intermedia "></i>
				  <label>carne-intermedia </label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="carne-grasa"></i>
				  <label>carne-grasa</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="azucares"></i>
				  <label>azucares</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="grasas"></i>
				  <label>grasas</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			  <div class="col-sm-2">
				<figure>
				  <i class="vaso-agua"></i>
				  <label>vaso-agua</label>
				  <strong>0/0</strong>
				  
				</figure>
			  </div>
			</div>
	
			</section>
		</div>
	</div>
</div>

<div class="overlay" (click)="closeModalPorciones()"></div>
<div [ngClass]="{'open': displayModalPorciones }" class="esc-modal" *ngIf="displayModalPorciones">
	
	<div class="box">
		<a class="modal-close" (click)="closeModalPorciones()">X</a>
		<header>
			<h3>Cantidad de Porciones</h3>
		</header>
		<div class="body content-form">			

			<div class="form-group">
			  <label class="label-modal-porciones">{{label_modal_porciones}}</label>
			  <input type="text" class="form-control" name="leche_descremada" id="modal-text" value=""  
			  [(ngModel)]="inputModal"
			  >			  
			</div>
	  
			<div class="alimentos">
			  <div class="col-sm-4">
				<figure>
				  <i class="leche-descremada"></i>
				  <label>Leche Descremada</label>
				  <input type="number" class="form-control" value="0" min="0" 
				  [(ngModel)]="porciones_leche_descremada"
					(change)="porciones('leche_descremada', 1)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="leche-2"></i>
				  <label>Leche 2%</label>
				  <input type="number" class="form-control" value="0" min="0" 
				  [(ngModel)]="porciones_leche_2"
				  (change)="porciones('leche_2', 2)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="leche-entera"></i>
				  <label>Leche Entera</label>
				  <input type="number" class="form-control" value="0" min="0" 
				  [(ngModel)]="porciones_leche_entera"
				  (change)="porciones('leche_entera', 3)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="vegetales"></i>
				  <label>vegetales</label>
				  <input type="number" class="form-control" value="0" min="0" 
				  [(ngModel)]="porciones_vegetales"
				  (change)="porciones('vegetales', 4)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="frutas"></i>
				  <label>frutas</label>
				  <input type="number" class="form-control" value="0" min="0" 
				   [(ngModel)]="porciones_frutas"
				  (change)="porciones('frutas', 5)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="harinas"></i>
				  <label>harinas</label>
				  <input type="number" class="form-control" value="0" min="0" 
				   [(ngModel)]="porciones_harinas"
				  (change)="porciones('harinas', 6)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="carne-magra"></i>
				  <label>carne-magra</label>
				  <input type="number" class="form-control" value="0" min="0" 
				   [(ngModel)]="porciones_carne_magra"
				  (change)="porciones('carne_magra', 7)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="carne-intermedia "></i>
				  <label>carne-intermedia </label>
				  <input type="number" class="form-control" value="0" min="0" 
				   [(ngModel)]="porciones_carne_intermedia"
				  (change)="porciones('carne_intermedia', 8)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="carne-grasa"></i>
				  <label>carne-grasa</label>
				  <input type="number" class="form-control" value="0" min="0" 
				   [(ngModel)]="porciones_carne_grasa"
				  (change)="porciones('carne_grasa', 9)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="azucares"></i>
				  <label>azucares</label>
				  <input type="number" class="form-control" value="0" min="0" 
				   [(ngModel)]="porciones_azucares"
				  (change)="porciones('azucares', 10)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="grasas"></i>
				  <label>grasas</label>
				  <input type="number" class="form-control" value="0" min="0" 
				  [(ngModel)]="porciones_grasas"
				  (change)="porciones('grasas', 11)"
				  >
				</figure>
			  </div>
			  <div class="col-sm-4">
				<figure>
				  <i class="vaso-agua"></i>
				  <label>vaso-agua</label>
				  <input type="number" class="form-control" value="0" min="0" 
				  [(ngModel)]="porciones_vaso_agua"
				  (change)="porciones('vaso_agua', 12)"
				  >
				</figure>
			  </div>
			</div>
	
		</div>
	</div>
</div>
