<div class="container main page-login content-form">
	<section class="login">
		<figure class="container-logo">
			<img src="assets/images/logo.png" alt="nutritrack" width="300"/>
		</figure>

		<form *ngIf="showFormLogin" #loginForm="ngForm" class="editForm" (ngSubmit)="onLogin()" novalidate>
			<div class="form-group with-icon userlogin">
				<label for="user_login">Correo Electronico</label>
				<input type="text" class="form-control" id="email" placeholder="enter email" [(ngModel)]="user.email" name="email" required>
				<i></i>
			</div>
			<div class="form-group with-icon passlogin">
				<label for="pass_login">Contraseña</label>
				<input type="password" class="form-control" id="password" placeholder="enter password" [(ngModel)]="user.password" name="password" required>
				<i></i>
			</div>
			<div class="buttons">
				<div class="form-group">				
					<button type="submit" class="btn btn-default">INGRESAR</button>
					<button 
						type="submit" 
						class="btn btn-default" 
						[disabled]="!loginForm.valid" 
					> INGRESAR 
					</button>
				</div>
				<a class="link" (click)="showReminder()">Olvido su Contraseña?</a>
			</div>
		</form>
		<form *ngIf="showFormReminder" #reminderForm="ngForm" class="editForm" (ngSubmit)="onReminder()" novalidate>
			<div class="form-group">
				<label for="nueva_contrasena">Olvid&oacute; su Contraseña?</label>
				<input class="form-control" type="text" name="nueva_contrasena" id="nueva_contrasena" required>
			</div>
			<div class="buttons">
				<div class="form-group">				
					<button type="button" class="btn btn-default">REENVIAR</button>
					<button 
						type="submit" 
						class="btn btn-default" 
						[disabled]="!reminderForm.valid" 
					> INGRESAR 
					</button>	
				</div>				
				<a class="link" (click)="showLogin()">Ingresar</a>
			</div>
		</form>
	</section>
</div>