<app-topnav></app-topnav>
<div class="loading-div" *ngIf="loading" >
    <div class="esc-modal loading-modal" style="top:15%;">
        <img src="assets/images/loading-bars.svg" style="width:75px;" />
        Cargando configuración . . .
    </div>
</div> 
<div class="container">
	<div class="row">
		<div class="col-sm-12 content-form">
			<section>
				<header>
					<h3 class="title">Configuración de Factura</h3>
				</header>
			</section>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-md-12 col-sm-12 col-xs-12 content-form">
				<section>
					<div class="col-md-1">
	                         <img alt="nutritrack" src="{{data.imagen}}" style="width: 220%;">
	                    </div>
	                    <div class="col-md-11" style="padding:1.5% 0% 0% 0%">
	                        <!-- <input type="file" id="button1" class="btn btn-success no-border" style="margin:0.8% 0% 0% 5%" value="CARGAR"> -->
													<input #fileInput type="file" accept="image/* " id="button1" class="btn btn-success no-border" style="margin:0.8% 0% 0% 5%" (change)="addFile()"/>
													<!-- <button id="button1" class="btn btn-success no-border" style="margin:0.8% 0% 0% 5%" (click)="addFile()">CARGAR</button> -->
	                    </div>	                
                  	<!-- First Input Row -->
              		<div class="form-group">
                  		<div class="row">
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="nombre_comercial">Nombre Comercial</label>
						  						<input class="form-control"
																	id="nombre_comercial"
																	type="text"
																	[(ngModel)]="data.nombre_comercial"
																	required>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="id_type">Tipo de Identificación</label>
                          		<select class="form-control ng-pristine ng-valid ng-touched"
																			[(ngModel)]="data.tipo_idenfificacion_id"
																			id="tipo"
																			name="tipo">
                          			<option *ngFor="let item of tipos" [ngValue]="item.id">{{item.nombre}}</option>
                          		</select>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="id_number">Número de Identificación</label>
                          		<input class="form-control"
																			id="id_number"
																			type="text"
																			[(ngModel)]="data.cedula"
																			required>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="social">Razón Social</label>
                      			<input class="form-control"
																		id="social"
																		type="text"
																		[(ngModel)]="data.nombre">
                  			</div>
                  		</div>
                  		<!-- Second Input Row -->
                  		<div class="row">
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="postal">Apartado Postal</label>
						  						<input class="form-control"
																	id="postal"
																	type="text"
																	[(ngModel)]="data.apartado_postal"
																	required>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="zip">Código de Área</label>
                            	<select class="form-control" id="zip"></select>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="phone">Teléfono</label>
                          		<input class="form-control"
																			id="phone"
																			placeholder="eg. 4126-4564"
																			type="text"
																			[(ngModel)]="data.telefono"
																			mask="0000-0000"
									 								   	name="telefono"
																			required>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="email">Email</label>
                          		<input class="form-control"
																			id="email"
																			type="email"
																			[(ngModel)]="data.email"
																			required>
                  			</div>
                  		</div>
                  		<!-- Third Input Row -->
                  		<div class="row">
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="state">Provincia</label>
						  						<select class="form-control"
													 				id="state"
																	[(ngModel)]="provincia"
																	(change)="selectCantones($event)">>
														<option *ngFor="let item of _provincias"  [ngValue]="item.codigo_provincia">{{item.nombre_provincia}}</option>
													</select>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="canton">Cantón</label>
                      		<select class="form-control"
																	id="canton"
																	[(ngModel)]="canton"
																	(ngModelChange)="selectDistritos($event)">
														<option *ngFor="let item of filter_cantones" [ngValue]="item.codigo_canton">{{item.nombre_canton}}</option>
													</select>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="district">Distrito</label>
                          		<select class="form-control"
																			id="district"
																			name="distrito"
																			[(ngModel)]="distrito"
																			(change)="selectBarrios($event)">
																<option *ngFor="let dis of filter_distritos" [ngValue]="dis.codigo_distrito">
																	{{dis.nombre_distrito}}
																</option>
															</select>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="address">Dirección</label>
              						<input class="form-control" id="address" type="text" [(ngModel)]="data.detalles_direccion" equired>
                  			</div>
                  		</div>
                  		<!-- Fourth Input Row -->
                  		<div class="row">
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="access_id">Identificación de Ingreso (Generado por ATV)</label>
                				<input class="form-control" id="access_id" type="text" [(ngModel)]="data.atv_ingreso_id" required>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
	                  			<label class="col-form-label" for="access_password">Contraseña de Ingreso (Generado por ATV)</label>
	                          	<input class="form-control" id="access_password" type="password" [(ngModel)]="data.atv_ingreso_contrasena" required>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="crypt_key">Llave Criptográfica</label>
		                        <div style="padding:0% 0% 0% 6%;">
	                              	<button id="button2" class="btn btn-success no-border" id="crypt_key">CARGAR</button>
		                        </div>
                  			</div>
                  			<div class="col-md-3 col-sm-12 col-xs-12">
                  				<label class="col-form-label" for="PIN">Clave o PIN de la llave criptográfica</label>
                        		<input class="form-control" id="PIN" type="text" [(ngModel)]="data.atv_clave_llave_criptografica" required>
                  			</div>
                  		</div>
                  		<!-- Fifth Input Row -->
                  		<div class="row">
	                    	<div class="col-xs-12 col-md-offset-4 col-md-4 col-sm-12" style="margin-top:1.5%">
	                        	<button id="button3" class="btn btn-success no-border" (click)="saveConfigData()" style="width:100%">GUARDAR</button>
		          			</div>
		                </div>
                  	</div>
				</section>
			</div>
		</div>
	</div>
</div>
