<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<!--<app-nuevo-nav></app-nuevo-nav>-->
			<app-navigation></app-navigation>
		</div>
		<div class="col-sm-9 content-form">
			<section>
				<app-hcp-nav></app-hcp-nav>
				<ng-template [ngIf]="bioquimicas" [ngIfElse]="loading">
					<ul class="lista-examen navbar">
						<li *ngFor="let bioquimica of bioquimicas">
							<a href="{{bioquimica.filename}}" target="_blank">
								<i></i>
								<span>{{bioquimica.fecha}} {{bioquimica.filename}}</span>
							</a>
						</li>
					</ul>					
				</ng-template>
				<ng-template #loading>
				</ng-template>
				
				
				<div class="container-form">
					<div class="actions">
						<a [ngClass]="{'form-close objetivos':nuevo, 'form-open': !nuevo }" (click)="showFormEdit()" href="javascript:void(0)"><i></i>Añadir Examen</a>
					</div>					
					<div class="form-edit objetivo" ng-animate="'example'" *ngIf="nuevo">
						<div class="form-group">
							<label>Nuevo examen</label>					
							<label class="container-file" for="nuevo-item">
								<input type="file" name="nuevo-item" />
								Importar archivo de examen - arrastre el archivo a este cuardro
							</label>
						</div>						
					</div>
				</div>				
			</section>
			
			<div class="buttons-navigation">
				<button 
					class="btn btn-default previous" 
					(click)="Previous()"
				> ANTERIOR 
				</button>
				<button class="btn btn-success next"
					(click)="Next()"
					> SIGUIENTE 
					</button>
			</div>
				
		</div>
	</div>
</div>