<ul class="row nav submenu navigation-habito">
	<li class="col-sm-3 actividad">
		<a routerLink="/actividad" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Patologias">
			<i></i>
			<span>Actividad F&iacute;sica</span>
		</a>
	</li>
	<li class="col-sm-3 valoracion-dietetica">
		<a routerLink="/valoracion-dietetica" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Alergias">
			<i></i>
			<span>Valoraci&oacute;n Diet&eacute;tica</span>
		</a>
	</li>
	<li class="col-sm-3 gustos">
		<a routerLink="/gustos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Medicamentos">
			<i></i>
			<span>Gustos</span>
		</a>
	</li>
	<li class="col-sm-3 hcp-otros">
		<a routerLink="/otros" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Otros">
			<i></i>
			<span>Otros</span>
		</a>
	</li>
</ul>