<app-topnav></app-topnav>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-4 col-sm-8">
			<h3 id="expediente_nombre" class="page-title">Expediente: {{title_control}}</h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<app-control-nav></app-control-nav>
		</div>
		<div class="col-sm-9 content-form">
			
			<section>
				<header>
					<h3 class="title">Agenda</h3>
				</header>
			</section>


		</div>
	</div>
</div>