<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<!--<app-nuevo-nav></app-nuevo-nav>-->
			<app-navigation></app-navigation>
		</div>
		<div class="col-sm-9 content-form">
			<section>				
				<div class="wrap-patologias">
					<label>Patologias</label>
					<div class="checkbox">
						<div class="row">
							<div class="col-sm-4">
								<label>
									<input type="checkbox" name="hcf" value="enfermedades-endocronologicas">
									<span>Enfermedades Endocronológicas</span>
								</label>
								<div class="form-group">
									<label>Notas</label>
									<textarea class="form-control" name="txt-enfermedades-endocronologicas" rows="5"></textarea>
								</div>
								
							</div>
							<div class="col-sm-4">
								<label>
									<input type="checkbox" name="hcf" value="enfermedades-tracto">
									<span>Enfermedades del Tracto</span>
								</label>
								<div class="form-group">
									<label>Notas</label>
									<textarea class="form-control" name="txt-enfermedades-tracto" rows="5"></textarea>
								</div>
							</div>
							<div class="col-sm-4">
								<label>
									<input type="checkbox" name="hcf" value="enfermedades-sistema">
									<span>Enfermedades del Sistema</span>
								</label>
								<div class="form-group">
									<label>Notas</label>
									<textarea type="text" class="form-control" name="txt-enfermedades-sistema" rows="5"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row wrap-patologias">
					<div class="checkbox">
						<div class="col-sm-4">
							<label>
								<input type="checkbox" name="hcf" value="enfermedades-sistema">
								<span>Enfermedades Metabólicas</span>
							</label>
							<div class="form-group">
								<label>Notas</label>
								<textarea class="form-control" name="txt-enfermedades-sistema" rows="5"></textarea>
							</div>
						</div>
						<div class="col-sm-4">
							<label>
								<input type="checkbox" name="hcf" value="enfermedades-metabolicas">
								<span>Enfermedades del Sistema Nervioso</span>
							</label>
							
							<div class="form-group">
								<label>Notas</label>
								<textarea class="form-control" name="txt-enfermedades-sistema" rows="5"></textarea>
							</div>
						</div>
						<div class="col-sm-4">
							<label>
								<input type="checkbox" name="hcf" value="enfermedades-metabolicas">
								<span>Enfermedades del Sistema</span>
							</label>
							
							<div class="form-group">
								<label>Notas</label>
								<textarea class="form-control" name="txt-enfermedades-sistema" rows="5"></textarea>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>