<div class="container-fluid" style="position: absolute; top: 30%; width: 100%">
	<div class="row">
		<app-factura-vacia></app-factura-vacia>
	</div>	
</div>
<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<app-navigation></app-navigation>
		</div>
		
		<div class="col-sm-9 content-form">
			<ng-template [ngIf]="patologias" [ngIfElse]="loading">
				<section>
					<label>Patolog&iacute;as</label>
					<div class="wrap-patologias">						
						<div class="checkbox">
							<div class="row">
							
							
<ng-template ngFor let-patologia [ngForOf]= "patologias" let-i="index">
   <div class="col-sm-6">
		<label>
			<input 
				type="checkbox" 
				name="patologia.id" 
				value="{{patologia.id}}" 
				[(ngModel)]="patologia.checked"
				>
			<span>{{patologia.nombre}}</span>
		</label>
		<div *ngIf="patologia.checked" class="form-group with-icon">
			<textarea 
				class="form-control" 
				name="patologia.notas" 
				rows="5"
				placeholder="Notas"
				[(ngModel)]="patologia.notas"
				></textarea>
		</div>
	</div>
	<ng-template [ngIf]= "patologia.row" >
		<div class="separator"></div>
	</ng-template>
</ng-template>
							
								
							
							
							
							
							
						
							</div>
						</div>
					</div>
				</section>
			</ng-template>
			<ng-template #loading>
				<section>				
					<div class="wrap-patologias">
						<label>Patolog&iacute;as *****</label>
						<div class="checkbox">
							<div class="row">
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcf" value="enfermedades-endocronologicas">
										<span>Enfermedades Endocronol&oacute;gicas</span>
									</label>
									<div class="form-group">
										<label>Notas</label>
										<textarea class="form-control" name="txt-enfermedades-endocronologicas" rows="5"></textarea>
									</div>
									
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcf" value="enfermedades-tracto">
										<span>Enfermedades del Tracto</span>
									</label>
									<div class="form-group">
										<label>Notas</label>
										<textarea class="form-control" name="txt-enfermedades-tracto" rows="5"></textarea>
									</div>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcf" value="enfermedades-respiratorias">
										<span>Enfermedades Respiratorias</span>
									</label>
									<div class="form-group">
										<label>Notas</label>
										<textarea type="text" class="form-control" name="txt-enfermedades-respiratorias" rows="5"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row wrap-patologias">
						<div class="checkbox">
							<div class="col-sm-4">
								<label>
									<input type="checkbox" name="hcf" value="enfermedades-metabolicas">
									<span>Enfermedades Metab&oacute;licas</span>
								</label>
								<div class="form-group">
									<label>Notas</label>
									<textarea class="form-control" name="txt-enfermedades-metabolicas" rows="5"></textarea>
								</div>
							</div>
							<div class="col-sm-4">
								<label>
									<input type="checkbox" name="hcf" value="enfermedades-sistema-nervioso">
									<span>Enfermedades del Sistema Nervioso</span>
								</label>
								
								<div class="form-group">
									<label>Notas</label>
									<textarea class="form-control" name="txt-enfermedades-sistema-nervioso" rows="5"></textarea>
								</div>
							</div>
							<div class="col-sm-4">
								<label>
									<input type="checkbox" name="hcf" value="enfermedades-cardiovasculares">
									<span>Enfermedades Cardiovasculares</span>
								</label>
								
								<div class="form-group">
									<label>Notas</label>
									<textarea class="form-control" name="txt-enfermedades-cardiovasculares" rows="5"></textarea>
								</div>
							</div>
							<div class="col-sm-4">
								<label>
									<input type="checkbox" name="hcf" value="cancer">
									<span>Cancer</span>
								</label>
								
								<div class="form-group">
									<label>Notas</label>
									<textarea class="form-control" name="txt-cancer" rows="5"></textarea>
								</div>
							</div>
						</div>
					</div>
				</section>
			</ng-template>
		
			
			<div class="buttons-navigation">
				<button 
					class="btn btn-default previous" 
					(click)="Previous()"
				> ANTERIOR 
				</button>
				<button class="btn btn-success next"
					(click)="Next()"
					> SIGUIENTE 
					</button>
			</div>
		
		</div>
	</div>
</div>