<app-topnav></app-topnav>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-4 col-sm-8">
			<h3 id="expediente_nombre" class="page-title">Expediente: {{title_control}}</h3>
		</div>
	</div>
</div>
<router-outlet name="historialPopup"></router-outlet>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<app-navigation></app-navigation>
		</div>
		<div class="col-sm-9 content-form">

			<section>
				<div class="row">
				
					
<div class="col-md-12">
<app-file-upload 
  projectId="100" 
  sectionId="107" 
  maxFiles="4"
  maxSize="2"
  fileExt="JPG, GIF, PNG"
  (uploadStatus)="refreshImages($event)" >
</app-file-upload>
</div>
<br>

<div class="well">
  <img *ngFor="let img of images"
	   [src]="'http://localhost:33699' + img.thumbPath"
	  class="img-thumbnail"
	  alt="">
</div>
				
					<div class="fill-data-valoracion">
						Importar datos - arrastre archivo en formato csv a este cuadro
					</div>
					<div class="buttons">
						<a class="btn btn-default" (click)="showModal('datos')">Ver Historial Antropom&eacute;trico</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 with-icon estatura">
						<div class="form-group with-icon estatura">
							<label class="col-form-label" for="estatura">Estatura</label>

								<input 
								class="form-control" 
								id="estatura" 
								name="estatura" 
								placeholder="En metros" 
								type="text" 
								[(ngModel)]="valoracion.estatura">
							<i></i>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon muneca">
							<label class="col-form-label" for="cedula">Circunferencia Muñeca</label>
							<input class="form-control" id="muneca" name="muneca" placeholder="En centímetros" type="text"
							[(ngModel)]="valoracion.circunferencia_muneca">
							<i></i>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon peso">
							<label class="col-form-label" for="peso">Peso</label>
							<input class="form-control" id="peso" name="peso" placeholder="Kilogramos" type="text"
							[(ngModel)]="valoracion.peso">
							<i></i>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon grasa">
							<label class="col-form-label" for="grasa">Grasa</label>						
								<input class="form-control" id="grasa" name="grasa" placeholder="Porcentaje" type="text"
								[(ngModel)]="valoracion.grasa">
								<i></i>
								<a (click)="showModal('grasa')" class="link-modal pen"><i></i></a>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon musculo">
							<label class="col-form-label" for="musculo">Músculo</label>
							<input class="form-control" id="musculo" name="musculo" placeholder="Porcentaje" type="text"
							[(ngModel)]="valoracion.musculo">
							<i></i>
							<a (click)="showModal('musculo')" class="link-modal pen"><i></i></a>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon agua">
							<label class="col-form-label" for="agua">Agua</label>
							<input class="form-control" id="agua" name="agua" placeholder="Porcentaje" type="text"
							[(ngModel)]="valoracion.agua">
							<i></i>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon viceral">
							<label class="col-form-label" for="viceral">Grasa Viceral</label>
							<input class="form-control" id="viceral" name="viceral" placeholder="Porcentaje" type="text"
							[(ngModel)]="valoracion.grasa_viceral">
							<i></i>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon hueso">
							<label class="col-form-label" for="hueso">Hueso</label>
							<input class="form-control" id="hueso" name="hueso" placeholder="Kilogramos" type="text"
							[(ngModel)]="valoracion.hueso">
							<i></i>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon edad_metabolica">
							<label class="col-form-label" for="edad_metabolica">Edad Metabólica</label>
							<input class="form-control" id="edad_metabolica" name="edad_metabolica" placeholder="Años" type="text"
							[(ngModel)]="valoracion.edad_metabolica">
							<i></i>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon cintura">
							<label class="col-form-label" for="cintura">Circunferencia Cintura</label>
							<input class="form-control" id="cintura" name="cintura" placeholder="En centímetros" type="text"
							[(ngModel)]="valoracion.circunferencia_cintura">
							<i></i>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group with-icon cadera">
							<label class="col-form-label" for="cadera">Circunferencia Cadera</label>
							<input class="form-control" id="cadera" name="cadera" placeholder="En centímetros" type="text"
							[(ngModel)]="valoracion.circunferencia_cadera">
							<i></i>
						</div>
					</div>
				</div>
			</section>
			<section>
				<header>
					<h3 class="title">An&aacute;lisis</h3>
				</header>
				<div class="row analisis">					
					<div class="box imc">
						<i></i>
						<br>
						IMC
						<strong>{{ analisis.imc | number : '1.2-2' }}<br>{{ imc }}</strong>
					</div>
					<div class="box peso-ideal">
						<i></i>
						<br>
						Peso Ideal
						<strong>{{ pesoIdeal | number : '1.2-2'}} kg</strong>
					</div>
					<div class="box peso-ideal-ajustado">
						<i></i>
						<br>
						Peso Ideal Ajustado
						<strong>{{ pesoIdealAjustado | number : '1.2-2'}} kg</strong>
					</div>
					<div class="box diferencia-peso">
						<i></i>
						<br>
						Diferencia Peso
						<strong>{{ diferenciaPeso | number : '1.2-2'}} kg</strong>
					</div>
					<div class="box adecuacion">
						<i></i>
						<br>
						Adecuación
						<strong>{{ adecuacion | number : '1.2-2'}} <small>%</small></strong>
					</div>
					<div class="box cintura-cadera">
						<i></i>
						<br>
						Relación Cintura-Cadera
						<strong>{{ relacionCinturaCadera | number : '1.2-2'}} %</strong>
					</div>
					<div class="box porcentaje-sobrepeso">
						<i></i>
						<br>
						Porcentaje de Sobrepeso
						<strong>{{ porcentajePeso | number : '1.2-2'}} %</strong>
					</div>
					<div class="box grado-sobrepeso">
						<i></i>
						<br>
						Grado de Sobrepeso
						<strong>{{ gradoSobrepeso }}</strong>
					</div>
					<div class="box peso-meta-maximo">
						<i></i>
						<br>
						Peso Meta M&aacute;ximo
						<strong>{{ pesoMetaMaximo | number : '1.2-2'}} kg</strong>
					</div>
					<div class="box peso-meta-minimo">
						<i></i>
						<br>
						Peso Meta M&iacute;nimo
						<strong>{{ pesoMetaMinimo | number : '1.2-2'}} kg</strong>
					</div>
				</div>
			</section>

			<div class="buttons-navigation">
				<button 
					class="btn btn-default previous invisible" 
					disabled="disabled"
				> ANTERIOR 
				</button>
				<button class="btn btn-success next"
					(click)="Next()"
					> SIGUIENTE 
					</button>
			</div>
		</div>
	</div>
</div>



<div [ngClass]="{'invisible ': hideModalDatos }" class="esc-modalbox wide">
	<a class="modal-close" (click)="hideModal('datos')"><i></i></a>
	<div class="body">
		<nav>
			<ul class="nav nabvar menu">
				<li class="col-sm-6">
					<a href="javascript:void(0)" (click)="tabSelected('datos')" class="{{tab_class_datos}}">
						<i class="datos"></i>
						Datos Generales
					</a>
				</li>
				<li class="col-sm-6">
					<a href="javascript:void(0)" (click)="tabSelected('graficos')" class="{{tab_class_graficos}}">
						<i class="grafico"></i>
						Gr&aacute;ficos
					</a>
				</li>
			</ul>
		</nav>
			
		<div *ngIf="showModalTabDatos" class="container-datos">
			<table class="table separate">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>IMC</th>
						<th>Peso</th>
						<th>Estatura</th>
						<th>Grasa</th>
						<th>Grasa Viceral</th>
						<th>M&uacute;sculo</th>
						<th>Agua</th>
						<th>Hueso</th>
						<th>Edad Metabolica</th>
						<th>Cintura</th>
						<th>Cadera</th>
						<th>Muñeca</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let historia of historial">
						<td>{{historia.fecha | date: 'dd/MM/yyyy'}}</td>
						<td>{{historia.imc}}</td>
						<td>{{historia.peso}}Kg</td>
						<td>{{historia.estatura}}m</td>
						<td>{{historia.grasa}}%</td>
						<td>{{historia.grasa_viceral}}</td>
						<td>{{historia.musculo}}</td>
						<td>{{historia.agua}}</td>
						<td>{{historia.hueso}}</td>
						<td>{{historia.edad_metabolica}} años</td>
						<td>{{historia.circunferencia_cintura}}</td>
						<td>{{historia.circunferencia_cadera}}</td>
						<td>{{historia.circunferencia_muneca}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="showModalTabGrafico" class="container-graficos">
			<nav class="clearfix">
				<ul class="nav navbar-nav menu grafico">
					<li *ngFor="let header of graficosH">
						<a class="{{header.class}}" href="javascript:void(0)" (click)="graficoSelected(header)">
							<span>{{header.nombre}}	</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="esc-grafico-boxes row">
<ng-template [ngIf]="graficos" [ngIfElse]="loading">
	<ng-template ngFor let-grafico [ngForOf]= "graficos">
	<div id="{{grafico.key}}" class="{{grafico.class}}">
		<line-chart 
			[data]="grafico.data" 
			[config]="grafico.config" 
			[elementId]="grafico.elementId"
		></line-chart>
	</div>
	</ng-template>
	<ng-template #loading>
		processing...
	</ng-template>
</ng-template>
			</div>
		</div>
	</div>
</div>

<div [ngClass]="{'invisible ': hideModalGrasa }" class="esc-modalbox grasa">
	<a class="modal-close" (click)="hideModal('grasa')"><i></i></a>
	<header class="text-center">
		<h4>Detalle Grasa</h4>
	</header>	
	<div class="body content-form">
		<nav>
			<ul class="nav nabvar menu">
				<li class="col-sm-6">
					<a href="javascript:void(0)" (click)="tabGrasaSelected('segmentado')" class="{{tab_grasa_class_segmentado}}">
						<i class="segmentado"></i>
						Segmentado
					</a>
				</li>
				<li class="col-sm-6">
					<a href="javascript:void(0)" (click)="tabGrasaSelected('pliegues')" class="{{tab_grasa_class_pliegues}}">
						<i class="pliegues"></i>
						Pliegues
					</a>
				</li>
			</ul>
		</nav>
			
			
		<div *ngIf="showModalGrasaTabSegmentado">
			<div class="form-group">
				<label>Abdominal</label>
				<input type="text" class="form-control" 
				[(ngModel)]="grasa.abdominal"
				>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Piernas</label>
						<input 
							type="text" 
							class="form-control" 
							placeholder="Derecha"		
							[(ngModel)]="grasa.piernaDerecha"
						>
					</div>
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							placeholder="Izquierda"		
							[(ngModel)]="grasa.piernaIzquierda"
						>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label>Brazos</label>
						<input 
							type="text" 
							class="form-control" 
							placeholder="Derecha"	
							[(ngModel)]="grasa.brazoDerecho"
						>
					</div>
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							placeholder="Izquierda"			
							[(ngModel)]="grasa.brazoIzquierdo"								
						>
					</div>
				</div>
			</div>

			<div class="row result">
				<i></i>{{grasaSegmentado}} %
			</div>
		</div>
		<div *ngIf="showModalGrasaTabPliegues">
			<div class="row">
				<div class="form-group col-sm-6">
					<label>Tricipital</label>						
					<input 
						type="text" 
						class="form-control" 
						name="pliegue_tricipital"
						[(ngModel)]="grasa.tricipital"
					>
				</div>
				<div class="form-group col-sm-6">
					<label>Bicipital</label>						
					<input 
						type="text" 
						class="form-control" 
						name="pliegue_bicipital"
						[(ngModel)]="grasa.bicipital"
					>
				</div>
				<div class="form-group col-sm-6">
					<label>Subescapular</label>						
					<input 
						type="text" 
						class="form-control"  
						name="pliegue_subescapular"
						[(ngModel)]="grasa.subescapular"
					>
				</div>
				<div class="form-group col-sm-6">
					<label>Suprailiaco</label>						
					<input 
						type="text" 
						class="form-control" 
						name="pliegue_suprailiaco"
						[(ngModel)]="grasa.suprailiaco"
					>
				</div>
			</div>
			<div class="row result">
				<i></i>{{grasaPiegues}} %
			</div>
		</div>
	</div>
</div>
<div [ngClass]="{'invisible ': hideModalMusculo }" class="esc-modalbox musculo">
	<a class="modal-close" (click)="hideModal('musculo')"><i></i></a>
	<header class="text-center">
		<h4>Detalle M&uacute;sculo</h4>
	</header>	
	<div class="body content-form">
		<div class="form-group">
			<label>Tronco</label>
			<input type="text" class="form-control" 
			id="musculo_tronco"
			name="musculo_tronco"
			[(ngModel)]="detalleMusculo.tronco"
			>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label>Piernas</label>
				<div class="form-group">
					<input 
						type="text" 
						class="form-control" 
						placeholder="Derecha"		
						id="musculo_pierna_derecha"
						name="musculo_pierna_derecha"
						[(ngModel)]="detalleMusculo.pierna_derecha"
					>
				</div>
				<div class="form-group">
					<input 
						type="text" 
						class="form-control" 
						placeholder="Izquierda"		
						id="musculo_pierna_izquierda"
						name="musculo_pierna_izquierda"
						[(ngModel)]="detalleMusculo.pierna_izquierda"
					>
				</div>
			</div>
			<div class="col-sm-6">
				<label>Brazos</label>
				<div class="form-group">
					<input 
						type="text" 
						class="form-control" 
						placeholder="Derecha"	
						id="musculo_brazo_derecho"
						name="musculo_brazo_derecho"
						[(ngModel)]="detalleMusculo.brazo_derecho"
					>
				</div>
				<div class="form-group">
					<input 
						type="text" 
						class="form-control" 
						placeholder="Izquierda"			
						id="musculo_brazo_izquierdo"								
						name="musculo_brazo_izquierdo"								
						[(ngModel)]="detalleMusculo.brazo_izquierdo"								
					>
				</div>
			</div>
		</div>
		 <div class="row result">
				<i></i>{{musculoSegmentado}} %
			</div>
	</div>
</div>

<div class="overlay" (click)="hideModal()"></div>
