<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<app-control-nav></app-control-nav>
		</div>
		<div class="col-sm-9 content-form">
	<section>
		<app-dieta-nav></app-dieta-nav>		
	
		<header>
			<h3 class="title">Divisi&oacute;n Nutricional </h3>
		</header>
		<div class="row division-nutricional s-75">
		
				<div class="col-md-5">
					<div class="ingesta-calorica-recomendada col-lg-offset-2 col-lg-4 col-sm-6">
						<i></i>
						Ingesta Cal&oacute;rica<br>Recomendada
					</div>
					<div class="ingesta-calorica-recomendada-value with-cicle col-sm-6">
						<i>
							<strong>
								{{ rdd.icr | number : '1.0-0'}}
								<span>Kcal</span>							
							</strong>
						</i>
					</div>
				</div>
				<div class="col-md-7 distribucion">
					<div class="col-sm-4">						
						<div class="carbohidratos with-cicle">						
							<div class="inner">
								<i>
									<span>Gramos</span>
									<strong>{{gramos_carbohidratos | number : '1.0-0'}}</strong>
									<span>Kcal</span>
									<strong>{{kcal_carbohidratos | number : '1.0-0'}}</strong>	
								</i>
							</div>
							<h5>Carbohidratos</h5>
							<input type="text" class="form-control" id="carbohidratos" name="carbohidratos" placeholder="Porcentaje" 
							[(ngModel)]="prescripcion.carbohidratos"
							/>
						</div>
					</div>
					<div class="col-sm-4">						
						<div class="proteinas with-cicle">						
							<div class="inner">
								<i>
									<span>Gramos</span>
									<strong>{{gramos_proteinas | number : '1.0-0'}}</strong>
									<span>Kcal</span>
									<strong>{{kcal_proteinas | number : '1.0-0'}}</strong>	
								</i>
							</div>
							<h5>Proteínas</h5>
							<input type="text" class="form-control" id="proteinas" name="proteinas" placeholder="Porcentaje" 
							[(ngModel)]="prescripcion.proteinas"
							/>
						</div>
					</div>
					<div class="col-sm-4">						
						<div class="grasas with-cicle">						
							<div class="inner">
								<i>
									<span>Gramos</span>
									<strong>{{gramos_grasas | number : '1.0-0'}}</strong>
									<span>Kcal</span>
									<strong>{{kcal_grasas | number : '1.0-0'}}</strong>	
								</i>
							</div>
							<h5>Grasas</h5>
							<input type="text" class="form-control" id="grasas" name="grasas" placeholder="Porcentaje" 
							[(ngModel)]="prescripcion.grasas"
							/>
						</div>
					</div>
				</div>
			
		</div>	
		<div class="buttons">
			<a class="btn btn-default" href="javascript:void(0);" (click)="openModalDatos()">Ver Historial Prescripciones</a>
		</div>
	</section>
	<section>
		<header>
			<h3 class="title">Asignaci&oacute;n de Porciones</h3>
		</header>
		
			<table class="table separate asignacion-porciones">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Porciones</th>
						<th>Carbohidratos</th>
						<th>Proteínas</th>
						<th>Grasas</th>
						<th>Kcal</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of items">
						<td scope="row">
							<label for="{{item.slug}}">
								<i class="{{item.slug}} item-{{item.id}}"></i>
								{{item.nombre}}
							</label>
						</td>
						<td>
							<input type="number" class="form-control" name="cantidad"
							[(ngModel)]="item.porciones" 
							(ngModelChange)="calculate(item)" 
							
							/>
						</td>
						<td>{{item.carbohidratos}}</td>
						<td>{{item.proteinas}}</td>
						<td>{{item.grasas}}</td>
						<td>{{item.kcal}}</td>
					</tr>
				</tbody>
				<tfoot *ngIf="showAdicionarOtro">
					<tr>
						<td scope="row">
							<div class="form-group">
								<label for="nombre" class="col-form-label">Nombre</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label for="nombre" class="col-form-label">Porciones</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="">
							</div>							
						</td>
						<td>
							<div class="form-group">
								<label for="nombre" class="col-form-label">Carbohidratos</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="gramos">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label for="nombre" class="col-form-label">Proteínas</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="gramos">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label for="nombre" class="col-form-label">Grasas</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="gramos">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label for="nombre" class="col-form-label">Kcal</label>
								<input type="text" class="form-control" id="email" name="email" placeholder="">
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
			
			<a href="javascript:void(0)" (click)="displayFormAddOther()" class="add-item"><i></i>Añadir otro</a>
	</section>	
	<section>
		<header>
			<h3 class="title">Resumen</h3>
		</header>
		<table class="table resumen">
			<tbody>
				<tr>
					<td>Totales</td>
					<td>{{total_carbohidratos}}</td>
					<td>{{total_proteinas}}</td>
					<td>{{total_grasas}}</td>
					<td>{{total_kcal}}</td>
				</tr>
				<tr>
					<td>Faltante</td>
					<td>{{total_faltante_carbohidratos | number : '1.0-0'}}</td>
					<td>{{total_faltante_proteinas | number : '1.0-0'}}</td>
					<td>{{total_faltante_grasas | number : '1.0-0'}}</td>
					<td>{{total_faltante_kcal | number : '1.0-0'}}</td>
				</tr>
				<tr>
					<td>Ideal</td>
					<td>{{gramos_carbohidratos | number : '1.0-0'}}</td>
					<td>{{gramos_proteinas | number : '1.0-0'}}</td>
					<td>{{gramos_grasas | number : '1.0-0'}}</td>
					<td>{{ rdd.icr | number : '1.0-0'}}</td>
				</tr>
				<tr>
					<td>% de adecuaci&oacute;n</td>
					<td>{{total_adecuacion_carbohidratos | number : '1.0-0'}}</td>
					<td>{{total_adecuacion_proteinas | number : '1.0-0'}}</td>
					<td>{{total_adecuacion_grasas | number : '1.0-0'}}</td>
					<td>{{total_adecuacion_kcal | number : '1.0-0'}}</td>
				</tr>
			</tbody>
		</table>
	</section>
		</div>

		<button (click)="openModalFactura()">Dummy</button>
	</div>
</div>

<!-- Modal Factura -->
<div class="overlay" (click)="openModalFactura()"></div>
<div class="esc-modal" *ngIf="showModalFactura">
	<div class="box">
		<a class="modal-close" (click)="openModalFactura()">X</a>
		<header>
			¿Desea crear factura electrónica para esta consulta? 			
		</header>
		<div class="body content-form">
			<div class="buttons-navigation">
            	<div class="col-md-5">
					<button class="btn btn-success no-border" style="width: 100%; background-color:#8BC23F" id="button2">Si</button>
				</div>
				<div class="col-md-offset-2 col-md-5">
					<button class="btn btn-success no-border" style="width: 100%" id="button3">No</button>
				</div>
          	</div>
		</div>
	</div>
</div>
<!-- End Factura -->


<div class="overlay" (click)="openModalDatos()"></div>
<div class="esc-modal wide" *ngIf="showModalDatos">
	
	<div class="box">
		<a class="modal-close" (click)="openModalDatos()">X</a>
		<header>
			<h3>Historial de Prescripciones Dieteticas</h3>
		</header>
		<div class="body content-form">
			<div *ngIf="showModalTabDatos">
				<div class="table-responsive">
					<table class="table separate historial prescripcion">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Carbohidratos</th>
								<th>Proteínas</th>
								<th>Grasas</th>
								<th>Leche Desc.</th>
								<th>Leche 2%</th>
								<th>Leche Entera</th>
								<th>Vegetales</th>
								<th>Frutas</th>
								<th>Harinas</th>
								<th>Carne Magra</th>
								<th>Carne Int</th>
								<th>Carne grasa</th>
								<th>Azúcares</th>
								<th>Grasas</th>
								<th>Agua</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>18/05/2017</td>
								<td>336.5 g</td>
								<td>201.91 g</td>
								<td>60 g</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>4</td>
								<td>4</td>
								<td>10</td>
								<td>10</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>2</td>
								<td>8</td>
							</tr>
							<tr>
								<td>18/05/2017</td>
								<td>336.5 g</td>
								<td>201.91 g</td>
								<td>60 g</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>4</td>
								<td>4</td>
								<td>10</td>
								<td>10</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>2</td>
								<td>8</td>
							</tr>
							<tr>
								<td>18/05/2017</td>
								<td>336.5 g</td>
								<td>201.91 g</td>
								<td>60 g</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>4</td>
								<td>4</td>
								<td>10</td>
								<td>10</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>2</td>
								<td>8</td>
							</tr>
							<tr>
								<td>18/05/2017</td>
								<td>336.5 g</td>
								<td>201.91 g</td>
								<td>60 g</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>4</td>
								<td>4</td>
								<td>10</td>
								<td>10</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>2</td>
								<td>8</td>
							</tr>
							<tr>
								<td>18/05/2017</td>
								<td>336.5 g</td>
								<td>201.91 g</td>
								<td>60 g</td>
								<td>2</td>
								<td>0</td>
								<td>0</td>
								<td>4</td>
								<td>4</td>
								<td>10</td>
								<td>10</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>2</td>
								<td>8</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
