<app-topnav></app-topnav>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-4 col-sm-8">
			<h3 id="expediente_nombre" class="page-title">Expediente: {{title_control}}</h3>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<!--<app-nuevo-nav></app-nuevo-nav>-->
			<app-navigation></app-navigation>
		</div>
		<div class="col-sm-9 content-form">
			<section>
				<app-hcp-nav></app-hcp-nav>
				
					<div class="wrap-patologias">
						<div class="checkbox">
							<div class="row">
								
							<ng-template [ngIf]="patologias" [ngIfElse]="loading">
								<div class="col-sm-4" *ngFor="let patologia of patologias">
									<label>
										<input 
											type="checkbox" 
											name="patologia.id" 
											value="{{patologia.id}}" 
											[(ngModel)]="patologia.checked"
											>
										<span>{{patologia.nombre}}</span>
									</label>
								</div>
							</ng-template>
							
							
							<ng-template #loading>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="estreñimiento">
										<span>Estreñimiento *****</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="colitis">
										<span>Colitis</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="reflujo">
										<span>Reflujo</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Gastritis</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Celiaquia</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Hernia hiatal</span>
									</label>
								</div>
							<!--</div>
							<div class="row">-->
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Obesidad</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Hipertensi&oacute;n</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Hipertiroidismo</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Diabetes</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Dislipidemias</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Hipotiroidismo</span>
									</label>
								</div>	
							<!--</div>
							<div class="row">-->
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>C&aacute;ncer</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Migraña</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Otras</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Ovario Poliqu&iacute;stico</span>
									</label>
								</div>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="gastritis">
										<span>Enfermedades del Corazón</span>
									</label>
								</div>

</ng-template>
								<div class="col-sm-4">
									<label>
										<input type="checkbox" name="hcp" value="cuales">
										<span>¿Cuáles?</span>
									</label>
								</div>

							
							</div>
							</div>
							
						</div>						
						<div class="form-group">
							<label>Notas</label>
							<textarea name="notas_patologias" class="form-control" placeholder="Notas"  rows="7"
							[(ngModel)]="paciente.notas_patologias"
							></textarea>
						</div>
					
			</section>
			
			<div class="buttons-navigation">
				<button 
					class="btn btn-default previous" 
					(click)="Previous()"
				> ANTERIOR 
				</button>
				<button class="btn btn-success next"
					(click)="Next()"
					> SIGUIENTE 
					</button>
			</div>
				
		</div>
	</div>
</div>