<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<!--<app-nuevo-nav></app-nuevo-nav>-->
			<app-navigation></app-navigation>
		</div>
		<div class="col-sm-9 content-form">
			<section>
				<table class="table table-bordered habitos">
					<thead>
						<tr>
							<th>#</th>
							<th>Fecha</th>
							<th>Objetivo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row">1</td>
							<td class="remove-item"><i></i>15/09/2017</td>
							<td>Bajar grasa - bajar peso - aumentar músculo</td>
						</tr>
					</tbody>
				</table>		
				<label>Objetivos que el paciente desea alcanzar</label>
				<textarea class="form-control" placeholder="Describir Objetivos"></textarea>
				<a class="add-item" href="#"><i></i>Añadir objetivo</a>
			</section>

		</div>
	</div>
</div>