<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<app-factura-vacia></app-factura-vacia>
		<div class="col-sm-3 content-nav">
			<app-navigation></app-navigation>
		</div>
		<div class="col-sm-9 content-form">
			<section>
				<div class="container-fluid">
					<table class="table listado">
						<thead>
							<tr>
								<th width="200">Fecha</th>
								<th>Objetivo</th>
							</tr>
						</thead>
						<tbody>
						<ng-template ngFor let-objetivo [ngForOf]= "objetivos" let-i="index">
							<tr>
								<td><a href="javascript:void(0);" class="remove-item" (click)="remove(objetivo)"><i></i></a>{{objetivo.fecha}}</td>
								<td>{{objetivo.descripcion}}</td>
							</tr>
						</ng-template>
						</tbody>
					</table>
					<div class="container-form">
						<div class="actions">
							<a [ngClass]="{'form-close objetivos':nuevo, 'form-open': !nuevo }" (click)="showFormEdit()" href="javascript:void(0)"><i></i>Añadir objetivo</a>
						</div>					
						<div class="form-edit objetivo" ng-animate="'example'" *ngIf="nuevo">
							<div class="form-group">
								<label>Objetivos que el paciente desea alcanzar</label>					
								<textarea 
									rows="5" 
									class="form-control" 
									placeholder="Describir Objetivos"
									[(ngModel)]="newObjetivo.descripcion"
								></textarea>
							</div>
							<div class="actions text-center">
								<a (click)="adicionarNuevo()" class="btn btn-default">AÑADIR</a>
							</div>
						</div>
					</div>
				</div>
				
			
			</section>
		
			<div class="buttons-navigation">
				<button 
					class="btn btn-default previous" 
					(click)="Previous()"
				> ANTERIOR 
				</button>
				<button class="btn btn-success next"
					(click)="Next()"
					> SIGUIENTE 
					</button>
			</div>
		
		</div>
	</div>
</div>