<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<!--<app-nuevo-nav></app-nuevo-nav>-->
			<app-navigation></app-navigation>
		</div>
		<div class="col-sm-9 content-form">
			<section>
				<div class="row">
					<div class="form-group col-md-6 with-icon paciente_cedula">
					  <label for="cedula" class="col-form-label">C&eacute;dula</label>
					  <input type="text" class="form-control" id="cedula" name="cedula" placeholder="required" required
					  [(ngModel)]="model.cedula"
					  >
					  <i></i>
					</div>
					<div class="form-group col-md-6 with-icon paciente_nombre">
					  <label for="nombre" class="col-form-label">Nombre Completo</label>
					  <input type="text" class="form-control" id="nombre" name="nombre" placeholder=""
					  [(ngModel)]="model.nombre"
					  >
					  <i></i>
					</div>
					<div class="form-group col-md-6 genero">
						<label for="genero" class="col-form-label">G&eacute;nero</label>						
						<div class="checkbox row">
							<div class="col-xs-6">
								<label class="femenino">
									<input type="radio" name="genero" value="F"
									[(ngModel)]="model.genero"
									>
									<span>Femenino</span>
								</label>
							</div>
							<div class="col-xs-6">
								<label class="masculino">
									<input type="radio" name="genero" value="M"
									[(ngModel)]="model.genero">
									<span>Masculino</span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group col-md-6 with-icon nacimiento">
					  <label for="nombre" class="col-form-label">Fecha de Nacimiento</label>
					  <input type="text" class="form-control" id="fecha_nac" name="fecha_nac" placeholder=""
					  [(ngModel)]="model.fecha_nac"
					  >
					  <i></i>
					</div>
				</div>
			</section>
			<section>
				  <div class="row">
					<header class="text-center">
						<h3 class="title">Datos del Responsable</h3>
					</header>
					<div class="form-group col-md-6 with-icon responsable_cedula">
					  <label for="inputCity" class="col-form-label">Cédula del responsable</label>
					  <input type="text" class="form-control" id="responsable_cedula" id="responsable_cedula"
					  [(ngModel)]="model.responsable_cedula"
					  >
					  <i></i>
					</div>
					<div class="form-group col-md-6 with-icon responsable">
					  <label for="inputState" class="col-form-label">Nombre Completo</label>
  					  <input type="text" class="form-control" id="responsable_nombre" name="responsable_nombre" placeholder=""
					  [(ngModel)]="model.responsable_nombre"
					  >
					  <i></i>
					</div>
					<div class="form-group col-md-6 with-icon parentezco">
					  <label for="inputZip" class="col-form-label">Parentezco</label>
					  <input type="text" class="form-control" id="parentezco"
					  [(ngModel)]="model.responsable_parentezco"
					  >
					  <i></i>
					</div>
				  </div>
			</section>

		</div>
	</div>
</div>