.custom-file {position: relative;display: inline-block;width: 100%;height: 40px;margin-bottom: 0;border-radius: 25px;}
.custom-file-input {position: relative;z-index: 2;width: 100%;height: auto;margin: 0;	opacity: 0;}
.custom-file-label {position: absolute;	top: 0;	right: 0;left: 0;z-index: 1;height: 40px;padding: 1rem .75rem;line-height: 1.5;	color: #495057;	background-color: #e0e0e0;	border: 1px solid #e0e0e0;border-radius: 25px;}
.custom-file-input:lang(es) ~ .custom-file-label::after {content: "Seleccionar";}
.custom-file-label::after {position: absolute;top: 0;right: 0;bottom: 0;z-index: 3;display: block;padding: 1rem;line-height: 1.5;color: #495057;content: "Seleccionar";background-color: #e9ecef;border-left: 1px solid #ced4da;border-radius: 0 25px 25px 0;}
 .esc-modal.icon-messages{z-index:20000;}
 .content-form.recepcion section {min-height: 450px;}
 .table.reporte-recepcion > tbody > tr > td {text-transform: capitalize;}
.recepcion-container-button-nuevo{text-align:center}
.esc-modalbox.recepcion header {margin-bottom: 15px;}
.esc-modalbox.recepcion .alert {margin-top: 15px !important;}
.esc-modalbox.recepcion header {margin-bottom: 20px;}
 @media(min-width:768px){
	 .esc-modalbox.recepcion header {margin-bottom: 50px;}
	.recepcion-container-button-nuevo{padding:50px}
 }