body.agenda .form-group{margin-bottom:15px;}

.confirmed {background-color: #8bc23f !important;color: #fff;}
.programed {background-color: #ccc !important;}
/*.unavailable{background-color: #000 !important;color:#fff}*/

.table.citas {background: none !important;	border: none !important;}
.table.citas > tbody > tr > td, 
.table.citas > tbody > tr > th, 
.table.citas > tfoot > tr > td, 
.table.citas > tfoot > tr > th, 
.table.citas > thead > tr > td, 
.table.citas > thead > tr > th {border: none;}
.table.citas > tbody > tr > th {width: 104px;padding-top:0}
.table.citas > tbody > tr > td {position: relative;padding:0;}
.table.citas > tbody > tr:nth-child(2n+1) > td{background-color:transparent;}
.table.citas > tbody > tr > td .actions {position: absolute;top: 5px;right: 0;}
.table.citas > tbody > tr:first-child > td:first-of-type > label{border-radius: 15px 15px 0 0;}
.table.citas > tbody > tr:last-child > td:first-of-type > label{border-radius: 0 0 15px 15px !important;}

.table.citas label {position: relative;overflow: hidden;display: block;margin: 0;border: 1px solid #ccc;}
.table.citas > tbody > tr > td.available:hover label{background-color: #eee;}
.table.citas > tbody > tr > td.unavailable{
background-color: #eee;
background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.table.citas > tbody > tr > td:not(.unavailable) label{cursor: pointer;}
.table.citas > tbody > tr > td.unavailable label > span {color: #ccc;text-align: center;}
.table.citas label:hover {}
.table.citas label > input[type="radio"] {position: absolute;/*right:0;*/left: -20px;}
/*:not(.unavailable)*/
.table.citas > tbody > tr > td label > span {display: block;position: relative;padding:10px 30px 10px 10px;}
.table.citas > tbody > tr > td .add-item > i {height: 14px;width: 14px;background-position: -367px -801px;top: 2px;}


body.open-modal.datos .table.citas tr > td > label{background-color:inherit;}
body.open-modal.datos .table.citas tr > td > label > span.cita-highlight{z-index:1001;background-color:#fff;}
body.open-modal.datos .table.citas tr > td.confirmed> label > span.cita-highlight{background-color:#8bc23f;border-color:#8bc23f;}
body.open-modal.datos .table.citas tr > td.programed> label > span.cita-highlight{background-color:#ccc;}

.agenda_calendar .mydp .inlinedp .caltable {border-collapse: inherit;}
.agenda_calendar .mydp .weekdaytitle {background-color: #e0e0e0;color: #303030;font-size: 14px;}
.agenda_calendar .mydp .daycell:not(.disabled) .datevalue.currmonth:hover,
.agenda_calendar .mydp .selectedday .datevalue, 
.agenda_calendar .mydp .selectedmonth .monthvalue, 
.agenda_calendar .mydp .selectedyear .yearvalue {background-color: #8bc23f;color: #fff;border-radius: 50%;height: 30px;width: 30px;line-height: 2em;position: absolute;top: 50%;margin-top: -15px;left: 50%;margin-left: -15px;}
.agenda_calendar .mydp .inlinedp table.caltable tr td {border: 1px solid #e0e0e0;position:relative;color:#303030;background-color:#fff;height:35px}
.agenda_calendar .mydp .inlinedp table.caltable tr td.daycell.disabled {background-color: #f5f5f5;color:#ccc;}
.agenda_calendar .mydp .inlinedp table.caltable tr td .datevalue span  {text-decoration: none;}
.agenda_calendar .mydp .nextmonth, .agenda_calendar .mydp .prevmonth {color: #fff;}
.agenda_calendar .mydp .tablesingleday:hover, 
.agenda_calendar .mydp .tablesinglemonth:hover, 
.agenda_calendar .mydp .tablesingleyear:hover {background-color: #fff;}

.main .links.four .box a figure i {background-size:456px 840px}
.main .links.four .box a figure {width: 140px;height: 140px;}
.main .links.four .box a figure.main-nuevo i {background-position: 0px -441px;width: 39px;height: 44px;}
.main .links.four .box a figure.main-agenda i {background-position: -45px -440px;width: 50px;height: 50px;}
.main .links.four .box a figure.main-control i {background-position: -104px -442px;width: 54px;height: 44px;}
.main .links.four .box a figure.main-facturacion i {background-position: 0 -552px;width: 64px;height: 63px;background-size: 342px 630px;}

.main .links.four .box a:hover figure.main-nuevo i {background-position: 0 -498px;}
.main .links.four .box a:hover figure.main-agenda i {background-position: -45px -498px;}
.main .links.four .box a:hover figure.main-control i {background-position: -104px -498px;}
.main .links.four .box a:hover figure.main-facturacion i {background-position: -76px -552px;}

.filter.pacientes .with-icon.search i {position: absolute;top: inherit;bottom: 13px;left:15px;}
.filter.pacientes ul {margin: 0;text-align: left;margin-left: 0;list-style-type: none;padding: 0;}
.filter.pacientes ul {text-align: left;list-style-type: none;padding: 0;}
.filter.pacientes ul li i.fullname {background-position: -469px -71px;width: 14px;height: 14px;	display: inline-block;}
.filter.pacientes ul li i.fullname {margin-right: 10px;}
.filter.pacientes {max-width:100%;margin: 15px auto 0;border-radius: 18px 18px 0 0;position:relative;}
.filter.pacientes .form-group{margin-bottom:0;position:relative;margin-top:-15px;z-index:2;}
.filter.pacientes .form-control {border: none;box-shadow: none;padding-left: 35px;line-height:2.5em;}
.filter.pacientes ul:not(:empty) {background-color: #e6e6e6;padding-top: 20px !important;margin-top: -22px;position:absolute;z-index:1;width:100%}
.filter.pacientes ul{padding:0 10px;max-height:300px;overflow:auto;height:auto}
.filter.pacientes ul li {cursor:pointer;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-ms-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.filter.pacientes ul li {padding: 8px;position: relative;}
.filter.pacientes ul li:hover {background-color:#7fb831;color:#fff;border-radius:25px;}
body.hide-main-title #expediente_nombre{display:none;}

.display-icon{clear: both;display: block;overflow: hidden;}
.display-icon > svg {margin-top: -100px;}
.display-icon.success > svg {margin-top: 15px;}
svg {width: 100px;display: block;margin: 40px auto 0;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-ms-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.path {stroke-dasharray: 1000;stroke-dashoffset: 0;}
.path.circle {-webkit-animation: dash 0.9s ease-in-out;animation: dash 0.9s ease-in-out;}
.path.line {stroke-dashoffset: 1000;-webkit-animation: dash 0.9s 0.35s ease-in-out forwards;animation: dash 0.9s 0.35s ease-in-out forwards;}
.path.check {stroke-dashoffset: -100;-webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;animation: dash-check 0.9s 0.35s ease-in-out forwards;}
p {text-align: center;margin: 20px 0 60px;font-size: 1.25em;}
p.success {color: #73AF55;}
p.error {color: #D06079;}

.navigation-agenda .agenda > li{padding:0}
.navigation-agenda li > a > i {top: 0 !important;}
.navigation-agenda .agenda a > i{background-position: -523px -837px;width: 24px;height: 24px;}
.navigation-agenda .agenda a.active > i, 
.navigation-agenda .agenda a:hover > i {background-position: -523px -863px;}

.navigation-agenda .agenda-reporte a > i {background-position: -549px -837px;width: 21px;height: 21px;}
.navigation-agenda .agenda-reporte a.active > i, 
.navigation-agenda .agenda-reporte a:hover > i {background-position: -549px -863px;}
.remove-item.deny {filter: grayscale(1);cursor: not-allowed;}

body.open-modal .esc-modalbox.agenda {top: 2.5%;}

.mydp .headerlabelbtn, .mydp .headertodaybtn,
.mydp .caltable *,
.mydp .monthtable *,
.mydp .yeartable * {font-family: 'Montserrat', sans-serif;}
.mydp .caltable * {font-size: 16px;}
@media(min-width:500px){
	.esc-modalbox.agenda:not(.wide):not(.transparent){width: 480px;margin-left: -240px;left: 50%;position:fixed}
	.esc-modalbox.agenda .content-form{margin-top:30px;}
	.esc-modalbox.agenda .content-form .form-group label {margin-top: 10px;}
	.container-form.agenda {min-height: 500px;}
	.table.citas > tbody > tr > td.programed label > span {padding-right: 60px;}
}
@media(min-width:500px) and (max-width:767px){
	.filter.pacientes .with-icon.search i {bottom: 22px;}
}
@media(min-width:768px){
	.main .links.four .box a > strong {font-size: 16px;}
	.agenda_calendar .mydp .daycell:not(.disabled) .datevalue.currmonth:hover,
	.agenda_calendar .mydp .selectedday .datevalue, 
	.agenda_calendar .mydp .selectedmonth .monthvalue, 
	.agenda_calendar .mydp .selectedyear .yearvalue {height: 36px;width: 36px;margin-top: -18px;margin-left: -18px;}
	.agenda_calendar .mydp .inlinedp table.caltable tr td {height:45px}
	.agenda_calendar .mydp .inlinedp .caltable {font-size: 1.5em;height: calc(100% - 25%);}
	.agenda_calendar .mydp .weekdaytitle {padding: 10px;}
	/*.agenda_calendar .mydp .weekdaytitle {font-size: 20px;padding: 10px;}*/
	/*body.open-modal .esc-modalbox.agenda {top: 15%;}*/
	body.open-modal .esc-modalbox.agenda {top: 50%;margin-top: -270px;padding:30px}
	.editForm [class*="col-xs-"] {padding: 0;}
}
@media(max-width:767px){
	.esc-modalbox.agenda {padding: 30px;position:fixed;font-size:12px}
	.esc-modalbox.agenda h3 {font-size: 18px;}
	.esc-modalbox.agenda h4 {font-size: 14px;}
	.table.citas {font-size: 12px;}
	.table.citas > tbody > tr > th {width: 60px;padding: 0;}
}
@media(max-width:499px){
	.table.citas .actions > a {display: block;}
	.esc-modalbox.agenda .content-form .form-group [class*="col-xs"] {width: 100%;}
	.esc-modalbox.agenda .row > div {padding-top: 0;padding-bottom: 0;}
	.esc-modalbox.agenda .form-group {margin-bottom: 5px;}
	.esc-modalbox.agenda .form-group label {margin-bottom: 0;}
	.table.citas > tbody > tr > td.programed label > span {min-height: 60px;}
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}