.table:not(.separate){border-radius:15px;background-color:#e0e0e0;}
.table tr th, .table tr td{border-color: transparent;}
.table > thead > tr > th {border-bottom: none;}
.table:not(.separate) > thead > tr > th:first-child {padding-left:25px}
.table > tbody > tr > td{padding:10px}
.table:not(.separate) > thead > tr > th:first-child {border-radius: 15px 0 0 0;}
.table:not(.separate) > thead > tr > th:last-child {border-radius: 0 15px 0 0;}
.table:not(.separate) > tbody > tr:last-child > td:first-child {border-radius: 0 0 0 15px;}
.table:not(.separate) > tbody > tr:last-child > td:last-child {border-radius: 0 0 15px 0;}
.table > tbody > tr:nth-child(odd) > td{background-color:#ccc;}
.table.separate{border-spacing: 0 5px;border-collapse: separate;}
.table.asignacion-porciones{border-spacing: 0 20px;}
.table.crud{border-spacing: 0 10px;}

.table.asignacion-porciones > tfoot > tr > td .form-control::-webkit-input-placeholder {text-align:center}
.table.asignacion-porciones > tfoot > tr > td .form-control::-moz-placeholder {text-align:center}
.table.asignacion-porciones > tfoot > tr > td .form-control:-ms-input-placeholder {text-align:center}
.table.asignacion-porciones > tfoot > tr > td .form-control:-moz-placeholder {text-align:center}
.table.asignacion-porciones.resumen{border-spacing: 0 5px;}
.content-form .asignacion-porciones.resumen tr td{padding:10px;}
.content-form .asignacion-porciones.resumen tbody tr td:first-child {padding-left: 30px;}
.table.asignacion-porciones.otro-alimento tbody{text-align:center;}
.table.asignacion-porciones tbody tr td{position:relative;}
.table.asignacion-porciones tbody tr td .remove-item {position: absolute;top: 50%;left: -5px;margin-top: 0;}
.table.asignacion-porciones.otro-alimento tbody tr td{background-color:transparent;border:none;padding-top:0;padding-bottom:0;}
.table.asignacion-porciones.otro-alimento tbody tr td input{text-align:center;padding:0}
.table.asignacion-porciones.otro-alimento tbody tr td:first-child input{max-width:100%;width:100%;}
.container-form.otros-alimentos {width: 100%;padding-right:0;overflow:hidden;padding-top:5px;margin-top:-15px;min-height:20px;}

.otros-alimentos .actions.open {position: absolute;margin-top: 35px;}
.table.separate.asignacion-porciones.otro-alimento {	border-spacing: 15px 10px;}
.container-form > .actions.open > a.form-close {padding: 0;width: 20px;height: 20px;}

.otros-alimentos .actions + .form-edit {margin-top: -100%;}
.otros-alimentos .actions.open + .form-edit {margin-top: 0;}

.table tfoot .form-group label{padding-left:0}
.table tfoot .form-group .form-control::-moz-placeholder {font-size: 10px;}
.esc-modal .table {font-weight:500;}
.esc-modal .table th {background-color: #646464;color: #fff;font-weight:normal;text-align:center;}
.esc-modal .table thead tr > th:first-child{border-radius:15px 0 0 0}
.esc-modal .table thead tr > th:last-child{border-radius: 0 15px 0 0;}
.esc-modal .table tbody tr > td{text-align:center;}
.esc-modal .table tbody tr:nth-child(even) > td{background-color:#cfcfcf;border-left: 1px solid #e7e7e7;}
.esc-modal .table tbody tr:nth-child(odd) > td{background-color:#e7e7e7;border-left: 1px solid #cfcfcf;}
.esc-modal .table tbody tr > td:first-child{border-left: none;}
.esc-modal .table.historial.prescripcion{color:#6c6c6c;border-spacing: 0 5px;border-collapse: separate;}
.esc-modal .table tr.detalle_prescripcion > td {color:#fff}
.esc-modal .table tr.detalle_prescripcion > td:first-child {text-align:left;border-radius: 10px 0 0 10px;}
.esc-modal .table tr.detalle_prescripcion > td:last-child {border-radius: 0 10px 10px 0;}
.esc-modal .table tr.detalle_prescripcion:nth-child(2n) > td {background-color: #9b9b9b;border-color: #9b9b9b !important;}
.esc-modal .table tr.detalle_prescripcion:nth-child(2n+1) > td {background-color: #b8b8b8;border-color: #b8b8b8 !important;}
.abrev-gc {font-size: 10px;margin-bottom: 10px;display: block;font-weight: 600;}
@media(min-width:480px){
	.abrev-gc{display:none}
}
@media(min-width:768px){
	.table.asignacion-porciones > tbody > tr > td:first-child {border-radius: 30px 0 0 30px}
	.table.asignacion-porciones > tbody > tr > td:last-child {border-radius: 0 30px 30px 0;}
	.content-form .asignacion-porciones.resumen tbody tr td:not(:first-child) {text-align:center}
}
@media (max-width:767px){
	body > [class*="col-"] .row > [class*="col-"] {margin-top:3%;margin-bottom:3%;}
	
	.table-mobile, .table-mobile thead, .table-mobile tbody, .table-mobile th, .table-mobile td, .table-mobile tr {display: block;}
	.table-mobile thead tr {position: absolute;top: -9999px;left: -9999px;}
	.table-mobile tr { border: 1px solid #ccc; }
	.table-mobile td {border: none;border-bottom: 1px solid #eee;position: relative;padding-left: 50% !important;
	-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
	.table-mobile tr:nth-child(even),
	.table-mobile tr:nth-child(odd) { height:auto; border-radius: 0;}
	.table-mobile td:before {position: absolute;top: 6px;left: 6px;width: 45%;padding-right: 10px;/*white-space: nowrap;*/
	-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
	
	.table-responsive.table.asignacion-porciones, .table-responsive.table.asignacion-porciones thead, .table-responsive.table.asignacion-porciones tbody, .table-responsive.table.asignacion-porciones th, .table-responsive.table.asignacion-porciones td, .table-responsive.table.asignacion-porciones tr {display: block;}
	.table-responsive.table.asignacion-porciones thead tr {position: absolute;top: -9999px;left: -9999px;}
	.table-responsive.table.asignacion-porciones tr { border: 1px solid #ccc; }
	.table-responsive.table.asignacion-porciones td {border: none;border-bottom: 1px solid #eee;position: relative;padding-left: 50% !important;}
	.table-responsive.table.asignacion-porciones tr:nth-child(even),
	.table-responsive.table.asignacion-porciones tr:nth-child(odd) { height:auto; }
	.table-responsive.table.asignacion-porciones td:before {position: absolute;top: 6px;left: 6px;width: 45%;padding-right: 10px;/*white-space: nowrap;*/}
	/*	Label the data	*/
	.table-responsive.asignacion-porciones td:first-child {padding-left: 15px !important;}
	.table-responsive.table.asignacion-porciones > tbody > tr > td:first-child {border-radius: 0;}
	.table-responsive.table.asignacion-porciones > tbody > tr > td:last-child {border-radius: 0;}
	/*.table-responsive.table.asignacion-porciones > tbody > tr > td > label {padding-left: 30px;}*/
	.table-responsive.table.asignacion-porciones td:before{text-align:left;}
	.table-responsive.table.asignacion-porciones td:nth-of-type(2):before{content: 'Porciones';}
	.table-responsive.table.asignacion-porciones td:nth-of-type(3):before{content: 'Carbohidratos';}
	.table-responsive.table.asignacion-porciones td:nth-of-type(4):before{content: 'Proteinas';}
	.table-responsive.table.asignacion-porciones td:nth-of-type(5):before{content: 'Grasas';}
	.table-responsive.table.asignacion-porciones td:nth-of-type(6):before{content: 'Kcal';}
					
	.table-mobile.asignacion-porciones.resumen td{text-align:center;}
	.table-mobile.asignacion-porciones.resumen td:before{text-align:left;}
	.table-mobile.asignacion-porciones.resumen td:nth-of-type(2):before{content: 'Carbohidratos';}
	.table-mobile.asignacion-porciones.resumen td:nth-of-type(3):before{content: 'Proteínas';}
	.table-mobile.asignacion-porciones.resumen td:nth-of-type(4):before{content: 'Grasas';}
	.table-mobile.asignacion-porciones.resumen td:nth-of-type(5):before{content: 'Kcal';}
	
	.table-mobile.historial{font-size:12px;}
	.table-mobile.historial td {min-height: 40px;padding: 0;line-height: 40px;}
	.table-mobile.historial td:before{background-color: #646464;color: #fff;height: 100%;top: 0;left: 0;padding: 0 0 0 10px;text-align: left;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;
/*
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;*/
	}

	.table-mobile.historial.va td:nth-of-type(1):before{content: 'Fecha';}
	.table-mobile.historial.va td:nth-of-type(2):before{content: 'IMC';}
	.table-mobile.historial.va td:nth-of-type(3):before{content: 'Peso';}
	.table-mobile.historial.va td:nth-of-type(4):before{content: 'Estatura';}
	.table-mobile.historial.va td:nth-of-type(5):before{content: 'Grasa';}
	.table-mobile.historial.va td:nth-of-type(6):before{content: 'Grasa Viceral';}
	.table-mobile.historial.va td:nth-of-type(7):before{content: 'Músculo';}
	.table-mobile.historial.va td:nth-of-type(8):before{content: 'Agua';}
	.table-mobile.historial.va td:nth-of-type(9):before{content: 'Hueso';}
	.table-mobile.historial.va td:nth-of-type(10):before{content: 'Edad Metabolica';}
	.table-mobile.historial.va td:nth-of-type(11):before{content: 'Cintura';}
	.table-mobile.historial.va td:nth-of-type(12):before{content: 'Cadera';}
	.table-mobile.historial.va td:nth-of-type(13):before{content: 'Muñeca';}
	
	.table-mobile.historial.rdd td:before{width:50%;}
	.table-mobile.historial.rdd td:nth-of-type(1):before{content: 'Fecha';}
	.table-mobile.historial.rdd td:nth-of-type(2):before{content: 'Gasto Calórico Actividad Física';}
	.table-mobile.historial.rdd td:nth-of-type(3):before{content: 'TMB';}
	.table-mobile.historial.rdd td:nth-of-type(4):before{content: 'Gasto Calórico Real';}
	.table-mobile.historial.rdd td:nth-of-type(5):before{content: 'Variación Calórica';}
	.table-mobile.historial.rdd td:nth-of-type(6):before{content: 'Gasto Calórico Recomendado';}
	
	
	/*.table-mobile.historial.prescripcion tr:first-child td:nth-of-type(1):before{content: 'Fecha';}*/
	.table-mobile.historial.prescripcion tr:nth-of-type(1):before{content: 'Fecha';}
	.table-mobile.historial.prescripcion td:nth-of-type(2):before{content: 'Carbohidratos';}
	.table-mobile.historial.prescripcion td:nth-of-type(3):before{content: 'Proteínas';}
	.table-mobile.historial.prescripcion td:nth-of-type(4):before{content: 'Grasas';}
	.table-mobile.historial.prescripcion td:nth-of-type(5):before{content: 'Leche Desc.';}
	.table-mobile.historial.prescripcion td:nth-of-type(6):before{content: 'Leche 2%';}
	.table-mobile.historial.prescripcion td:nth-of-type(7):before{content: 'Leche Entera';}
	.table-mobile.historial.prescripcion td:nth-of-type(8):before{content: 'Vegetales';}
	.table-mobile.historial.prescripcion td:nth-of-type(9):before{content: 'Frutas';}
	.table-mobile.historial.prescripcion td:nth-of-type(10):before{content: 'Harinas';}
	.table-mobile.historial.prescripcion td:nth-of-type(11):before{content: 'Carne Magra';}
	.table-mobile.historial.prescripcion td:nth-of-type(12):before{content: 'Carne Int';}
	.table-mobile.historial.prescripcion td:nth-of-type(13):before{content: 'Carne grasa';}
	.table-mobile.historial.prescripcion td:nth-of-type(14):before{content: 'Az&uacute;cares';}
	.table-mobile.historial.prescripcion td:nth-of-type(15):before{content: 'Grasas';}
	.table-mobile.historial.prescripcion td:nth-of-type(16):before{content: 'Agua';}

	.esc-modalbox .table.historial.prescripcion thead {display: none;}
}
@media (max-width:479px){
	.table-mobile.historial.rdd td:before{width:55%;}
	.table-mobile.historial.rdd td:nth-of-type(2):before{content: 'G.C. Actividad Física';}
	.table-mobile.historial.rdd td:nth-of-type(4):before{content: 'G.C. Real';}
	.table-mobile.historial.rdd td:nth-of-type(6):before{content: 'G.C. Recomendado';}
}