<div class="overlay" (click)="closeModal()"></div>

<div class="esc-modal loading-modal" *ngIf="loading" style="top:15%;">
	<img src="assets/images/loading-bars.svg" style="width:75px;" />
</div>
<div class="esc-modal success_ajax" *ngIf="form_errors.successful_operation" style="top:15%;">
	<img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678134-sign-check-128.png" />
	<h4>¡Factura generada de manera exitosa!</h4>
</div>
<div class="esc-modal success_ajax" *ngIf="form_errors.ajax_failure" style="top:15%;">
	<img src="https://cdn3.iconfinder.com/data/icons/simple-web-navigation/165/cross-512.png" style="width:35%" />
	<h4>Imposible comunicarse con el servidor.</h4>
</div>

<div class="esc-modal wide" style="margin-top: -500%" *ngIf="!loading">
			<div class="box">
				<a class="modal-close" (click)="openModalDatos()">X</a>
				<header style="height: 70px;">
					<div class="col-md-6 ">
            <header style="text-align: left !important;">
              <b>{{nutricionista.nombre}}</b><br>
  						Cedula {{nutricionista.cedula}}<span *ngIf="!nutricionista.cedula">N/A</span><br>
  						Direccion: {{nutricionista.detalles_direccion}} 
  						<span *ngIf="!nutricionista.canton && !nutricionista.distrito && !nutricionista.provincia && !nutricionista.detalles_direccion"> N/A </span><br>
  						<span *ngIf="nutricionista.canton"> {{nutricionista.canton}},   </span>
  						<span *ngIf="nutricionista.distrito"> {{nutricionista.distrito}}, </span>
  						<span *ngIf="nutricionista.provincia"> {{nutricionista.provincia}} </span>
  						<br>
  						Tel: {{nutricionista.telefono}} <span *ngIf="!nutricionista.telefono">N/A</span><br>
  						Correo: {{nutricionista.email}} <span *ngIf="!nutricionista.email">N/A</span><br>
            </header>
					</div>
					<div class="col-md-offset-4 col-md-2">
						<a class="navbar-brand">
					    <img alt="nutritrack" src="assets/images/logo.png" width="125">
				    </a>
					</div>
				</header>
				<div class="content-form">
		         <section style="margin-top:5%">
					<div class="row">
						<div clas="col-md-12 col-sm-12 col-xs-12" style="text-align: center;"><h3>Datos del Cliente</h3></div>
					</div>
					<div class="row" style="margin-bottom:2%;">
						<div class="col-md-4 col-sm-4">
							<label id="row-margin" for="tipo_indentificacion">Tipo de Identificación</label>
							<select class="form-control" 
									id="tipo_indentificacion" 
									[(ngModel)]="persona.identification_nombre"
									(change)="validarCedula()"
									name="tipo_indentificacion">
								<option *ngFor = "let option of tipos_ID" 
										[ngValue]="option.nombre"
										[selected]="option.nombre === persona.identification_nombre">{{option.nombre}}</option>
							</select>
							<span style="color:red;font-size: 10px;" 
								  *ngIf="form_errors.empty_id">Por favor, seleccione un tipo de identificación.</span>	
						</div>
						<div class="col-md-4 col-sm-4">
							<label id="row-margin" for="cedula">Cédula</label>
							<input id="row-margin" 
								   type="text" 
								   class="form-control" 
								   id="cedula" 
								   name="cedula" 
								   (keyup)="validarCedula()"
								   (keypress)="_keyPress($event)"
								   [(ngModel)] = "persona.cedula"
								   placeholder="Cédula"
								   required>
							<span style="color:red;font-size: 10px;" 
								  *ngIf="form_errors.invalid_id">El número de documento ingresado es inválido.</span>	   
						</div>
						<div class="col-md-4 col-sm-4">
							<label id="row-margin" for="nombre">Ing</label>
							<input id="row-margin" 
								   type="text" 
								   placeholder="Nombre Completo"
								   class="form-control" 
								   id="nombre" 
								   [(ngModel)] = "persona.nombre"
								   (focusout) = "validarNombre()"
								   (keyup) = "validarNombre()"
								   name="nombre"
								   required>
							<span style="color:red;font-size: 10px;" 
								  *ngIf="form_errors.empty_name">Ingrese el nombre del cliente.</span>
						</div>
					</div>
          		<div class="row" style="margin-bottom:2%;">
          			<div class="col-md-4 col-sm-4">
							<label id="row-margin" for="provincia">Provincia</label>
							<select id="row-margin" 
									class="form-control" 
									id="provincia" 
									name="provincia"
									[(ngModel)]="provincia"
									(change)="selectCantones($event)">
								<option *ngFor = "let prov of _provincias" [ngValue]="prov.codigo_provincia">
									{{prov.nombre_provincia}}
								</option>
							</select>
					</div>
					<div class="col-md-4 col-sm-4">
							<label id="row-margin" for="canton">Cantón</label>
							<select id="row-margin" 
									class="form-control" 
									id="canton" 
									name="canton"
									[(ngModel)]="canton"
									(change)="selectDistritos($event)">
								<option *ngFor="let can of filter_cantones" [ngValue]="can.codigo_canton">
									{{can.nombre_canton}}
								</option>
							</select>
					</div>
					<div class="col-md-4 col-sm-4">
							<label id="row-margin" for="distrito">Distrito</label>
							<select id="row-margin" 
									class="form-control" 
									id="distrito" 
									name="distrito"
									[(ngModel)]="distrito"
									(change)="selectBarrios($event)">
								<option *ngFor="let dis of filter_distritos" [ngValue]="dis.codigo_distrito">
									{{dis.nombre_distrito}}
								</option>
							</select>
					</div>           			
			    </div>
					<div class="row" style="margin-bottom:2%;">	
						<div class="col-md-4 col-sm-4">
			              <label id="row-margin" for="barrio">Barrio</label>
			              <select type="text" 
			              		  id="barrio" 
			              		  class="form-control" 
			              		  name="barrio" 
			              		  [(ngModel)]="persona.ubicacion_id">
			              	<option *ngFor="let bar of filter_barrios" [ngValue]="bar.id">
			              		{{bar.nombre_barrio}}
			              	</option>		  	
			              </select>
	           			</div>	
					   <div class="col-md-4 col-sm-4">
		              	  <label id="row-margin" for="direccion">Dirección</label>
			              <input type="text"              		 
			              		 id="direccion" 
			              		 class="form-control" 
			              		 name="direccion" 
			              		 [(ngModel)] = "persona.detalles_direccion"
			              		 placeholder="Dirección" value="">
	            		</div>									
            			<div class="col-md-4 col-sm-4">
							<label id="row-margin" for="telefono">Teléfono</label>
							<input id="row-margin" 
								   type="text" 
								   placeholder="eg. 4126-4564" 
								   class="form-control" 
								   id="telefono" 
								   [(ngModel)] = "persona.telefono"
								   (keyup) = "validarTelefono()"
								   mask="0000-0000"
								   name="telefono"
								   required>
							<span *ngIf="form_errors.invalid_phone" style="color:red;">Por favor, ingrese un teléfono válido.</span>	   
						</div>
					</div> 
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<label id="row-margin" for="email">Correo Electrónico</label>
							<input id="row-margin" 
								   type="email" 
								   placeholder="Correo Electrónico" 
								   class="form-control" 
								   id="email" 
								   [(ngModel)] = "persona.email"
								   (keyup)="validarCorreo()"
								   name="email"
								   required>
							<span *ngIf = "form_errors.invalid_email" style="color:red;">Por favor, ingrese un e-mail válido.</span>	   
						</div>
					</div>
					<hr style="border-color:#d7dbdd">
					<div id="row-margin" class="row">
						<div clas="col-md-12 col-sm-12 col-xs-12" style="text-align: center;"><h3>Detalle</h3></div>
					</div>
					<div class="row" *ngIf="productos.length > 0">
						<div class="col-md-12 col-sm-2">
							<div class="table-responsive">
	                            <table class="table">
	                                <thead>
	                                    <tr>
	                                    	<th></th>
	                                        <th>Descripción</th>
	                                        <th>Unidad</th>
	                                        <th>Precio</th>
	                                        <th>Cantidad</th>
	                                        <th>Descuento</th>
	                                        <th>Impuesto</th>
	                                        <th>Subtotal</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr *ngFor="let pr of productos; let i = index ">
	                                    	<td [ngStyle]="{ 'border-radius': setLeftBorder(i) }">                                        
	  	                                		<a href="javascript:void(0)" (click)="removeProduct(pr)">
				                                    <i class="fa fa-close" style="font-size:20px;color:red;background:none;"></i>
				                                </a>
	                                		</td>
	                                    	<td>
	                                    		<span>{{pr.descripcion}}</span>
	                                    	</td>
	                                    	<td>
	                                    		<span>{{pr.unidad_nombre}}</span>
	                                    	</td>
	                                    	<td>
	                                    		<span>₡ {{pr.precio}}</span>
	                                    	</td>
	                                    	<td>
	                                    		<span>{{pr.cantidad}}</span>
	                                    	</td>
	                                    	<td>
	                                    		<span>₡ {{pr.descuento}}</span>
	                                    	</td>
	                                    	<td>
	                                    		<span>₡ {{pr.impuesto}}</span>
	                                    	</td>
	                                    	<td [ngStyle]="{ 'border-radius': setRightBorder(i) }"> 
	                                    		<span>₡ {{pr.subtotal}}</span>
	                                    	</td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>  
	                    </div>    
	                </div>  
					<div id="linea_detalle" class="row">
						<div class="col-md-2 col-sm-12">
			              <label id="row-margin" for="descripcion">Descripción</label>
						   <input type="text" 
						   		  id="descripcion" 
						   		  class="form-control" 
						   		  name="proteina" 
						   		  placeholder="Ingrese descripción"
						   		  [(ngModel)]="query"
						   		  (keyup)="suggest()">
						</div>
						<div class="autocomplete-div" *ngIf="filteredList.length > 0">
							<ul class="dropdown-menu dropdown-autocomplete" *ngFor="let item of filteredList">
								<li>
									<a href="javascript:void(0)" (click)="select(item)">							
										<div style="margin-bottom:-8%">
											<h5>{{item.descripcion}}</h5>
										</div>				
										<span style="font-size: 8px;">Costo: ₡ {{item.precio}}</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-12">
              				<label id="row-margin" for="unidad">Unidad</label>
							<select class="form-control" [(ngModel)]="unidad_medida">
	                            <option *ngFor="let unidad_medida of unidades" 
	                            		[attr.value]="unidad_medida.nombre" 
										[attr.selected]="unidad_medida.nombre == 'Servicios Profesionales' ? true : null">
									{{unidad_medida.nombre}}
								</option>
	                        </select>
						</div>
						<div class="col-md-2 col-sm-6">
              				<label id="row-margin" for="precio">Precio</label>
							<input type="text" 
								   id="precio" 
								   class="form-control" 
								   placeholder="₡16,500" 
								   name="precio"
								   style="width:75%;"
								   (keyup)="calcularSubtotalProducto()"
								   [(ngModel)]="producto.precio"
								   currencyMask 
								   [options]="{ prefix: '₡ ', thousands: '.', decimal: ',' }"
								   required>
						</div>
            			<div class="col-md-1 col-sm-6" style="margin-left: -4%;">
             			    <label id="row-margin" for="cantidad">Cantidad</label>
							<input type="number" 
								   id="cantidad" 
								   class="form-control" 
								   [(ngModel)]="producto.cantidad" 
								   (keyup)="calcularSubtotalProducto()"
								   (change)="calcularSubtotalProducto()"
								   name="cantidad" 
								   min="1" 
								   placeholder="Cantidad">
						</div>
						<div class="col-md-1 col-sm-6" style="width: 13%;">
             			    <label id="row-margin" for="descuento">Descuento</label>
							<input type="text" 
								   id="descuento" 
								   class="form-control" 
								   placeholder="₡0" 
								   (keyup)="calcularSubtotalProducto()"
								   name="descuento"
								   [(ngModel)]="producto.descuento"
								   currencyMask 
								   [options]="{ prefix: '₡ ', thousands: '.', decimal: ',' }">	
							<span style="color:red;font-size: 10px;" *ngIf="form_errors.negativeSubtotal_product">
								El descuento no debe ser mayor al subtotal.
							</span>							   
						</div>
						<div class="col-md-2 col-sm-6" style="margin-top:-0.3%;width: 15.5%;margin-right: -3%;">
              				<label id="row-margin" for="impuesto">
              					<input type="checkbox" [checked]="impuesto" (change)="aplicarImpuestoProducto()"/>Impuesto (13%)
              				</label>
							<input type="text" 
								   id="impuesto" 
								   class="form-control" 
								   style="width: 75%;"
								   placeholder="₡2,145" 
								   name="impuesto"
								   disabled="true" 
								   [(ngModel)]="producto.impuesto"
								   currencyMask 
								   [options]="{ prefix: '₡ ', thousands: '.', decimal: ',' }"
								   required>
						</div>
						<div class="col-md-2 col-sm-6">
              				<label id="row-margin" for="subtotal">Subtotal</label>
							<input id="subtotal" 
								   class="form-control" 
								   style="width: 75%;"
								   placeholder="₡18,645"
								   disabled="true" 
								   [(ngModel)]="producto.subtotal"
								   currencyMask 
								   [options]="{ prefix: '₡ ', thousands: '.', decimal: ',' }"
								   required>
						</div>
					</div>
					<div class="row">
        				<div class="col-md-12" style="text-align: center; width:33%; margin: 3% 0% 0% 33%;">
  							<button class="btn btn-success no-border"
  									style="width:100%; border-color: #8bc23f !important;" 
  									(click)="addProducto()"
  									id="button3"> Añadir Línea </button>
  						</div>
					</div>
					<hr style="border-color:#d7dbdd">
					<div class="row">
							<div class="col-md-3">
								<div id="row-margin" class="row" style="margin-bottom: 20px;">
									<label id="row-margin" for="metodo"> Medio de Pago</label>							
									<select id="metodo" 
											class="form-control"
											name="medio"
											[(ngModel)]="factura.medio_nombre">
										<option *ngFor="let medio of medios_pagos" 
												[attr.value]="medio.nombre" 
												[attr.selected]="medio.nombre == 'Tarjeta' ? true : null">
											{{medio.nombre}}
										</option>
									</select>
								</div>
								<div id="row-margin" class="row">
									<div class="col-md-12">Notas</div>
										<textarea id="notas" class="form-control" [(ngModel)]="factura.notas"></textarea>
								</div>
							</div>
							<div class="col-md-offset-6 col-md-3">
								<div class="row invoice-resume">Subtotal Neto: ₡{{factura.subtotal}}</div>
								<div class="row invoice-resume">Descuento: ₡{{factura.descuento}}</div>
								<div class="row invoice-resume">I.V.E.: ₡{{factura.ive}}</div>
								<div class="row invoice-resume">Monto Total: ₡{{factura.total}}</div>
							</div>
					</div>

					<div class="row facturar-buttons">
          				<div class="col-md-3" style="text-align: center;">
								<button class="btn btn-success no-border" style="background-color:#cf2e34; border-color:#cf2e34; width:100%" id="save_product_button" (click)="facturar()"> Facturar </button>  								
							</div>
  						<div class="col-md-3" style="text-align: center;">
  							<button class="btn btn-success no-border" style="width:100%;background-color:#aca9a9;border-color:#aca9a9;" id="button3"> Cancelar </button>
  						</div>
					</div>
					<div class="row">
						<span style="color:red;" *ngIf="form_errors.empty_products">Debe por lo menos añadir un producto o servicio.</span>
					</div>
			</section>
		</div>
	</div>
</div>
