<app-topnav></app-topnav>
<div class="container">
	<div class="row">
		<div class="col-sm-12 content-form">
			<section>
				<header>
					<h3 class="title">Reporte de Facturación</h3>
				</header>
			</section>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-12 content-form">
			<section>
				<div class="row">
                    <div class="col-md-3 col-sm-2 col-xs-12">
						<div class="form-group with-icon paciente_nombre">
						  <label class="col-form-label" for="cliente">Cliente</label>
						  <input class="form-control" [(ngModel)]="nombre" id="cliente" name="cliente" type="text">
						  <i></i>
						</div>
				    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group with-icon nacimiento">
                          <label class="col-form-label" for="desde">Desde</label>
							<my-date-picker name="desde"
	                                        [options]="fromOptions"
	                                        [(ngModel)]="fromDate"
	                                        (dateChanged)="refreshDateFromLimits($event)"
	                                        required>
	                        </my-date-picker>
                        </div>
					</div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group with-icon nacimiento">
                          <label class="col-form-label" for="hasta">Hasta</label>
							<my-date-picker name="hasta"
	                                        [options]="untilOptions"
	                                        [(ngModel)]="untilDate"
	                                        (dateChanged)="refreshUntilDateLimits($event)"
	                                        required>
	                        </my-date-picker>
                        </div>
					</div>
					<div class="col-md-3 col-sm- col-xs-12">
                        <div class="form-group with-icon parentezco">
                          <label class="col-form-label" for="tipo">Tipo</label>
                          <select class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="tipo" id="tipo" name="tipo">
                          	<option>Todos</option>
                            <option *ngFor="let item of tipos">{{item.nombre}}</option>
                          </select>
                          <i></i>
                        </div>
					</div>
                    <div class="col-xs-2 col-md-2 col-sm-12" style="margin-top:20px;">
                        <button class="btn btn-success no-border" id="search_button" (click)="filterQuery()"> BUSCAR </button>
                    </div>
                 </div>
			</section>
			<section>
            	<div class="row">
            		<!-- iconos de modificado y agregado -->
					<div class="col-md-1" id="product_editor_column" style="margin-top: 3.1%">
            			<div class="row" *ngFor="let item of resultArray">
                            <a href="javascript:void(0)" routerLinkActive="active" (click)='showPDF(item)'>
                                <i class="fa fa-file-pdf-o" style="font-size:24px;color:darkgreen;background:none;"></i>
                            </a>
                            <a routerLinkActive="active" (click)='deleteData(item)' >
                                <i class="fa fa-close" style="font-size:30px;color:red;background:none;"></i>
                            </a>
                            <div style="height: 9px"></div>
                        </div>
                    </div>
                    <!---->
                    <div class="col-md-11">
                    	<div class="table-responsive">
	                        <table class="table">
	                            <thead>
	                                <tr>
	                                    <th># Documento</th>
	                                    <th>Receptor</th>
	                                    <th>Tipo</th>
	                                    <th>Fecha</th>
	                                    <th>Moneda</th>
	                                    <th>Monto</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let item of resultArray">
	                                    <td class="flat-border">{{item.numeracion_consecutiva}}</td>
	                                    <td>{{item.nombre}}</td>
	                                    <td>{{item.nombre_tipo}}</td>
	                                    <td>{{item.fecha}}</td>
	                                    <td>Colones</td>
	                                    <td class="flat-border">₡{{item.monto}}</td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
                    </div>
            	</div>


                <div class="actions">
                    <div class="row">
                        <div class="col-md-2">
                            <h4 href="javascript:void(0)" class="form-open">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                                Exportar a
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <a routerLinkActive="active" (click)='exportData(1)'>
                                <i class="fa fa-file-pdf-o" style="font-size:48px;color:red;background:none;"></i>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a routerLinkActive="active" (click)='exportData(2)'>
                                <i class="fa fa-file-excel-o" style="font-size:48px;color:green;background:none;"></i>
                            </a>
                        </div>
                    </div>
				</div>
            </section>
		</div>
	</div>
</div>
