<nav class="navbar navbar-default top logo-center">
  <div class="container">
	  <div class="row">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" routerLink="/inicio" title="Inicio"><img src="assets/images/logo.png" alt="nutritrack" width="241"/></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
			<li class="nuevo">			
				<a routerLink="/nuevo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Nuevo Paciente">
					<i class="menu-icon nuevo"></i>Paciente Nuevo
				</a>
			</li>
			<li class="control">
				<a routerLink="/control" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Control">
					<i class="menu-icon"></i>Control
				</a>
			</li>
			<!--<li class="agenda">
				<a routerLink="/agenda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Agenda">
					<i class="menu-icon"></i>Agenda
				</a>
			</li>-->
			<li class="facturacion">				
				<a  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Agenda" data-toggle="dropdown"  (mouseenter) = "mouseOver()" (mouseleave) = "mouseOut()">                  
                	<i class="menu-icon"></i>Facturación
                	<div class="dropdown" style="margin:10% 0% 0% 0%" id="invoice-menu-div">									
	                    <ul class="dropdown-menu" style="margin:0% 0% 0% 19%;">
	                    	<li *ngIf="agregadoAPI===1">
		                      	<a (click)="openFactura()" href="javascript:void(0)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" data-toggle="tab" title="Facturar">
		                      		<i class="menu-icon"></i>Facturar
		                      	</a>
	                      	</li>
	                      	<li>
	                      		<a routerLink="/reportes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Reportes">
	                      			<i class="menu-icon"></i>Reportes
	                      		</a>
	                      	</li>
	                      	<li *ngIf="agregadoAPI===1">
	                      		<a routerLink="/sinfacturar" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Consultas Sin Facturar">
	                      			<i class="menu-icon"></i>Consultas sin Facturar
	                      		</a>
	                      	</li>
	                      	<li>
	                      		<a routerLink="/servicios-productos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Productos / Servicios">
	                      			<i class="menu-icon"></i>Productos / Servicios
	                      		</a>
	                      	</li>
	                      	<li>
	                      		<a routerLink="/config-factura" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Configuración">
	                      			<i class="menu-icon"></i>Configuración
	                      		</a>
	                      	</li>
	                    </ul>
					</div>
                </a>
			</li>
			
		  </ul>
		</div>
	  </div>
  </div>
</nav>
