<div class="board-inner control" id="status-buttons">
	<div class="half esc-nav">
		<div class="tab">
			<div class="sidebar-toggle-button">
				<ul class="list-group menu-datos-paciente">
					<li class="list-group-item datos-paciente{{class_toggle}}">			
						<a href="javascript:void(0)" (click)="toggleDatosPaciente()">				
							<span>Datos del Paciente</span>
							<div id="nav-icon2" [ngClass]="{'open': showMenuPaciente }">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div [ngClass]="{'open': showMenuPaciente }" class="sidebar-left">	
				<div class="tab-content">
					<app-nuevo-nav></app-nuevo-nav>
				</div>
			</div>
		</div>
	</div>
	<h3 class="current-menu">Consulta en Curso</h3>
	<ul class="list-group consulta">
		<li class="list-group-item valoracion">
				<a routerLink="/valoracion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Valoración Antropométrico">
				<span>Valoración Antropométrico</span>
				<i></i>
			</a>
		</li>
		<li class="list-group-item recomendacion">
			<a routerLink="/recomendacion" routerLinkActive="active">
				<span>Recomendaciones dietética diario</span>
				<i class="icon"></i>
			</a>
		</li>
		<li class="list-group-item dieta">
			<a routerLink="/dieta" routerLinkActive="active">
				<span>Dieta</span>
				<i class="icon"></i>
			</a>
		</li>
	</ul>
</div>
