<nav class="navbar navbar-default top">
  <div class="container-fluid">
	  <div class="row">
		<div class="navbar-header">
		  <!--<button type="button" class="navbar-toggle collapsed" (click)="toggle_menu()" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>-->
<button class="hamburger hamburger--spring" [ngClass]="{'is-active':toggleTopMenu }" (click)="toggle_topmenu()" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
	<span class="hamburger-box">
		<span class="hamburger-inner"></span>
	</span>
</button>

		  <a class="navbar-brand" routerLink="/inicio" title="Inicio">
			<img src="assets/images/logo.png" alt="nutritrack" width="125"/>
		</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse" [ngClass]="{'in':toggleTopMenu }">
		  <ul class="nav navbar-nav navbar-right">
			<li class="nuevo">			
				<a routerLink="/nuevo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Nuevo Paciente"(click)="action_nuevo">
					<i class="menu-icon nuevo"></i>Paciente Nuevo
				</a>
			</li>
			<li class="control">
				<a routerLink="/control" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Control">
					<i class="menu-icon"></i>Control
				</a>
			</li>
			<li class="agenda" *ngIf="enable_agenda">
				<a routerLink="/agenda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Agenda">
					<i class="menu-icon"></i>Agenda
				</a>
			</li>
			<li class="facturacion">
				<a  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Agenda" data-toggle="dropdown"  (mouseenter) = "mouseOver()" (mouseleave) = "mouseOut()">                  
                	<i class="menu-icon"></i>Facturación
                	<div class="dropdown" style="margin:10% 0% 0% 0%" id="invoice-menu-div">									
	                    <ul class="dropdown-menu" style="margin:0% 0% 0% 19%;">
	                    	<li *ngIf = "agregadoAPI===1">
		                      	<a (click)="openFactura()" href="javascript:void(0)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" data-toggle="tab" title="Facturar">
		                      		<i class="menu-icon"></i>Facturar
		                      	</a>
	                      	</li>
	                      	<li>
	                      		<a routerLink="/reportes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Reportes">
	                      			<i class="menu-icon"></i>Reportes
	                      		</a>
	                      	</li>
	                      	<li *ngIf = "agregadoAPI===1">
	                      		<a routerLink="/sinfacturar" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Consultas Sin Facturar">
	                      			<i class="menu-icon"></i>Consultas sin Facturar
	                      		</a>
	                      	</li>
	                      	<li>
	                      		<a routerLink="/servicios-productos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Productos / Servicios">
	                      			<i class="menu-icon"></i>Productos / Servicios
	                      		</a>
	                      	</li>
	                      	<li>
	                      		<a routerLink="/config-factura" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Configuración">
	                      			<i class="menu-icon"></i>Configuración
	                      		</a>
	                      	</li>
	                      	<li>
	                      		<a routerLink="/recepcion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Recepción de documentos">
	                      			<i class="menu-icon"></i>Recepci&oacute;n de documentos
	                      		</a>
	                      	</li>
	                    </ul>
					</div>
                </a>
			</li>
		  </ul>
		</div>
	  </div>
  </div>
</nav>

<div *ngIf="showTitle" class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-4 col-sm-8">
			<h3 id="expediente_nombre" class="page-title">Expediente: {{title_control}}</h3>
		</div>
	</div>
</div>
<!--<div class="info-sending">cambios detectados, enviando datos</div>-->