<ul class="nav row submenu navigation-dieta">
	<li class="col-xs-4 prescripcion">
		<a routerLink="/dieta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Prescripcion">
			<i></i>
			<span>Prescripci&oacute;n</span>
		</a>
	</li>
	<li class="col-xs-4 patron-menu">
		<a routerLink="/patron-menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="patron-menu">
			<i></i>
			<span>Patr&oacute;n de Men&uacute;</span>
		</a>
	</li>
	<li class="col-xs-4 notas">
		<a routerLink="/notas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="notas">
			<i></i>
			<span>Notas</span>
		</a>
	</li>
</ul>