<div class="row navigation-dieta">
	<div class="col-sm-4 prescripcion">
		<a routerLink="/dieta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Prescripcion">
			<i></i>
			<span>Prescripcion</span>
		</a>
	</div>
	<div class="col-sm-4 patron-menu">
		<a routerLink="/patron-menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="patron-menu">
			<i></i>
			<span>Patron de Menu</span>
		</a>
	</div>
	<div class="col-sm-4 notas">
		<a routerLink="/notas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="notas">
			<i></i>
			<span>Notas</span>
		</a>
	</div>
</div>