<ul class="nav row submenu navigation-dieta">
	<li class="col-xs-4 prescripcion">
		<a routerLink="/agenda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Agendar Cita">
			<i></i>
			<span>Agendar Cita</span>
		</a>
	</li>
	<li class="col-xs-4 patron-menu">
		<a routerLink="/agenda-servicios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Servicios">
			<i></i>
			<span>Servicios</span>
		</a>
	</li>
</ul>