<app-topnav></app-topnav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 content-nav">
			<app-control-nav></app-control-nav>
		</div>
		<div class="col-sm-9 content-form">
				<section>
		<div class="row">
			<div class="form-group">
				<label for="cedula" class="col-form-label">¿Como desea calcular gasto cal&oacute;rico?</label>
				<div class="radio clearfix">
					<div class="col-sm-4">
						<label>
							<input name="metodo-calculo-calorico" value="benedict" 
							 type="radio"
							 [(ngModel)]="recomendacion.metodo_calculo_gc"
							>
							<span>Harris Benedict</span>
						</label>
					</div>
					<div class="col-sm-4">
						<label>
							<input 
									name="metodo-calculo-calorico" 
									value="mifflin" 
									type="radio"	
									[(ngModel)]="recomendacion.metodo_calculo_gc"							
							>
							<span>Milflin-St Jear</span>
						</label>
					</div>
					<div class="col-sm-4">
						<label>
							<input 
									name="metodo-calculo-calorico" 
									value="promedio" 
									type="radio" 
									[(ngModel)]="recomendacion.metodo_calculo_gc"
									>
							<span>Promedio de Ambas</span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="cedula" class="col-form-label">¿Con cu&aacute;l peso desea hacer el c&aacute;lculo?</label>
				<div class="radio clearfix">
					<div class="col-sm-4">
						<label>
							<input 
								name="peso-calculo-calorico" 
								value="actual" 
								checked 
								type="radio"
								[(ngModel)]="recomendacion.peso_calculo"															
								>
							<span>Peso Actual</span>
						</label>
					</div>
					<div class="col-sm-4">
						<label>
							<input 
								name="peso-calculo-calorico" 
								value="ideal" 
								type="radio"	
								[(ngModel)]="recomendacion.peso_calculo"							
								>
							<span>Peso Ideal</span>
						</label>
					</div>
					<div class="col-sm-4">
						<label>
							<input 
								name="peso-calculo-calorico" 
								value="ideal-ajustado" 
								type="radio"
								[(ngModel)]="recomendacion.peso_calculo"								
								>
							<span>Peso Ideal Ajustado</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row factores">
			<div class="col-sm-6">
				<div class="form-group with-icon factor-actividad">
					<label for="cedula" class="col-form-label">Factor de actividad sedentaria y t&eacute;rmico de los alimentos</label>
					<input 
						type="number" 
						class="form-control" 
						id="factor-actividad" 
						name="factor-actividad" 
						placeholder=""
						[(ngModel)]="recomendacion.factor_actividad_sedentaria"
						>
					<i></i>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group with-icon promedio-gc">
					<label for="cedula" class="col-form-label">Promedio de gasto cal&oacute;rico diario por actividad F&iacute;sica</label>
					<input 
						type="number" 
						class="form-control" 
						id="promedio-gc" 
						name="promedio-gc" 
						placeholder=""					
						[(ngModel)]="recomendacion.promedio_gc_diario"
						>
					<i></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<small>
					Por defecto se utiliza un factor de 1.4 para actividades diarias sedentarias,
					tales como dormir, trabajo de oficina, ver televisi&oacute;n, etc. Si lo desea,
					puede cambiar este factor para este paciente.
				</small>
			</div>
			<div class="form-group col-sm-6">
				<small>
					Este gasto cal&oacute;rico es calculado seg&uacute;n la informaci&oacute;n de los h&aacute;bitos de 
					actividad f&iacute;sica del paciente ingresados anteriormente, si desea puede 
					cambiar este gasto cal&oacute;rico manualmente.
				</small>
			</div>
		</div>
		<div class="row text-center">
			<a class="btn btn-default"  (click)="toggleModalRdds()">Ver Historial RDDs</a>
		</div>
	</section>
	<section>
		<div class="calculo-calorico">		
			<header>
				<h3 class="title">Cálculo Cal&oacute;rico Actual</h3>
			</header>
			<div class="row">
				<div class="form-group col-lg-offset-2 col-lg-4 col-md-6">						
					<div class="tasa-metabolica col-sm-6">
						<i></i>
						Tasa Metab&oacute;lica<br>Basal
					</div>
					<div class="tasa-metabolica-value with-cicle col-sm-6">
						<i>
							<strong>
								{{ tasa_basal | number : '1.0-0'}}
								<span>Kcal</span>							
							</strong>
						</i>
					</div>
				</div>
				<div class="form-group col-lg-4 col-md-6">
					<div class="gasto-calorico-real col-sm-6">
						<i></i>
						Gasto Cal&oacute;rico<br>Real
					</div>
					<div class="gasto-calorico-real-value with-cicle col-sm-6">
						<i>
							<strong>
								{{ gasto_calorico_real | number : '1.0-0'}}
								<span>Kcal</span>							
							</strong>
						</i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="calculo-calorico-recomendadas">
			<header>
				<h3 class="title">Calorías Recomendadas según metas del paciente</h3>
			</header>
		  <div class="row">
			<div class="col-md-5">
				<div class="form-group with-icon variacion-calorica">
					<label for="variacion-calorica" class="col-form-label">Variación Calórica</label>
					<input type="number" class="form-control" id="variacion-calorica" name="variacion-calorica" placeholder="En centímetros"
					[(ngModel)]="recomendacion.variacion_calorica"
					>
					<i></i>				
				</div>
			</div>
			<div class="form-group col-md-offset-1 col-md-6">
				<div class="ingesta-calorica col-sm-6">
					<i></i>
					Ingesta Cal&oacute;rica Recomendada
				</div>
				<div class="ingesta-calorica-recomendada with-cicle col-sm-6">
					<i>
						<strong>
							{{ ingesta_calorica_recomendada | number : '1.0-0'}}
							<span>Kcal</span>							
						</strong>						
					</i>
				</div>
			</div>
		  </div>
		</div>
	</section>
		</div>
	</div>
</div>


<div class="overlay" (click)="toggleModalRdds()"></div>
<div class="esc-modal wide" *ngIf="showModalRdds">
	
	<div class="box">
		<a class="modal-close" (click)="toggleModalRdds()">X</a>
		<div class="body content-form">			

					
			<ul class="row nav submenu navigation-dieta">
				<li class="col-sm-6">
					<a href="javascript:void(0)" (click)="tabSelected('datos')" class="{{tab_class_datos}}">
						<i class="datos"></i>
						Datos Generales
					</a>
				</li>
				<li class="col-sm-6">
					<a href="javascript:void(0)" (click)="tabSelected('graficos')" class="{{tab_class_graficos}}">
						<i class="grafico"></i>
						Graficos
					</a>
				</li>
			</ul>
			<div *ngIf="showModalTabDatos">
				<table class="table">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Gasto Calorico Actividad Fisica</th>
							<th>TMB</th>
							<th>Gasto Calorico Real</th>
							<th>Variación Calorica</th>
							<th>Gasto Calorico Recomendado</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>18/05/2017</td>
							<td>450Kcal</td>
							<td>1901Kcal</td>
							<td>2548</td>
							<td>-500 Kcal</td>
							<td>2048</td>
						</tr>
						<tr>
							<td>18/05/2017</td>
							<td>450Kcal</td>
							<td>1901Kcal</td>
							<td>2548</td>
							<td>-500 Kcal</td>
							<td>2048</td>
						</tr>
						<tr>
							<td>18/05/2017</td>
							<td>450Kcal</td>
							<td>1901Kcal</td>
							<td>2548</td>
							<td>-500 Kcal</td>
							<td>2048</td>
						</tr>
						<tr>
							<td>18/05/2017</td>
							<td>450Kcal</td>
							<td>1901Kcal</td>
							<td>2548</td>
							<td>-500 Kcal</td>
							<td>2048</td>
						</tr>
						<tr>
							<td>18/05/2017</td>
							<td>450Kcal</td>
							<td>1901Kcal</td>
							<td>2548</td>
							<td>-500 Kcal</td>
							<td>2048</td>
						</tr>
						<tr>
							<td>18/05/2017</td>
							<td>450Kcal</td>
							<td>1901Kcal</td>
							<td>2548</td>
							<td>-500 Kcal</td>
							<td>2048</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div *ngIf="showModalTabGrafico">
			
			<nav>
				<ul class="nav nav-pills">
					<li>
						<a href="javascript:void(0);">Gasto Calorico Actividad Fisica</a>
					</li>
					<li>
						<a href="javascript:void(0);">TMB</a>
					</li>
					<li>
						<a href="javascript:void(0);">Gasto Calorico Real</a>
					</li>
					<li>
						<a href="javascript:void(0);">Variación Calorica</a>
					</li>
					<li>
						<a href="javascript:void(0);">Gasto Calorico Recomendado</a>
					</li>
				</ul>
			</nav>
				<div class="well">
					grafico AQUI
				</div>
			</div>
	  
		</div>
	</div>
</div>