<div class="board-inner paciente" id="status-buttons">
	<ul class="list-group">
		<li class="list-group-item personales">
			<a routerLink="/personales" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Valoración Antropométrico">
				<span>Datos Personales</span>
				<i></i>
			</a>
		</li>
		<li class="list-group-item contacto">
			<a routerLink="/contacto" routerLinkActive="active">
				<span>contacto</span>
				<i class="icon"></i>
			</a>
		</li>
		<li class="list-group-item hcp">
			<a routerLink="/hcp" routerLinkActive="active">
				<span>Historia Clinica Personal</span>
				<i class="icon"></i>
			</a>
		</li>
		<li class="list-group-item hcf">
			<a routerLink="/hcf" routerLinkActive="active">
				<span>Historia Clinica Familiar</span>
				<i class="icon"></i>
			</a>
		</li>
		<li class="list-group-item objetivo">
			<a routerLink="/objetivo" routerLinkActive="active">
				<span>Objetivos del Paciente</span>
				<i class="icon"></i>
			</a>
		</li>
		<li class="list-group-item habito">
			<a routerLink="/habito" routerLinkActive="active">
				<span>H&aacute;bitos</span>
				<i class="icon"></i>
			</a>
		</li>
	</ul>
</div>